[2017-02-23 08:17] dannyboyng opened #207 "Doesn't see indexes on columns."
When generating/scaffolding models with Code First from existing database, Code First doesn't see my composite indexes on the columns and therefore, the indexes won't show up in the code/models.

I'm not sure if it sees my normal indexes either, haven't tested that yet.

[2017-02-23 08:22] ErikEJ commented on #207
EF6 scaffolding/reverse engineer has no knowledge of indexes

[2017-02-23 08:25] dannyboyng commented on #207
Is this impossible to implement? If so, I will close this issue.

[2017-02-23 08:41] ErikEJ commented on #207
Nothing is impossible, but it is not going to happen

[2017-02-23 09:22] davidroth commented on #197
Thanks for the clarification @rowanmiller
I am glad that at least this is solved with EF Core and all other DotNet Core projects.

[2017-02-23 10:22] ADringer opened #208 "Make DbContext.Entry virtual"
Hi,

When unit testing I can mock out SaveChanges(), Set() etc fine so I don't go to the database. However, I am unable to mock out Entry() as this has not been set to virtual.

Is there a reason why this isn't virtual? I can see in EFCore that it is so was wondering if there is a plan to make this method virtual?

Thanks

Alex

[2017-02-23 15:49] vukoje commented on #205
Great news. Thanks a lot @rowanmiller.
I'm closing the case and I of course suggesting updating info in [this link](https://msdn.microsoft.com/en-us/library/hh949853%28v=vs.113%29.aspx?f=255&MSPPError=-2147217396#3-4-Metadata-caching) to avoid further confusion.

[2017-02-23 15:49] #205 closed

[2017-02-23 16:57] bricelam commented on #146
We had CPS give us a private build with that change, but we hit additional issues. In the end we decided if it was going to require changes on our end, we should just update everything to use an architecture similar to EFCore which completely avoids the need for them to be `MarshalByRef`.

[2017-02-23 21:05] FrancoisM opened #209 "Every 5 min EntityConnection.Open is blocked on wait time"
I profiled and did some test on the exact same request.
I'm the only one querying it.
The request is very simple.
If there is more than 5 minutes between calls, the request is very slow and profiling shows that EntityConnection.Open is awaiting (for roughly 3s). Otherwise the request is executed normally.
More details on [SOF](http://stackoverflow.com/questions/42422941/entity-framework-6-blocked-

[2017-02-23 21:28] FrancoisM commented on #209
I think it is related to Metadata caching although I don't understand it yet.

[2017-02-24 02:15] danielmackay commented on #186
This has happened again!  This is the 4th time now and is getting really frustrating.  Is entity framework migrations stable enough to be used in the enterprise?

I will implement a log as you've suggested so we can trace this issue.

As a work around, what do you think of changing the schema of using different migration tables for each context?  Is that complicated?

![image](https://cloud.github

[2017-02-24 02:19] danielmackay commented on #186
Also, do you think this could be some sort of race condition between the NotificationContext being used between Web API and many different Web Jobs?

[2017-02-24 09:59] #207 closed

[2017-02-24 18:58] rowanmiller commented on #198
Confirmed bug, simplest repro is to create a console app with the following code:

[code]

Then run `Add-Migration Initial`. The following code with an in-escaped quote is generated.

[code]

[2017-02-24 19:13] rowanmiller commented on #209
What version of EF are you using? There was some timer code in old versions, but we think we removed some of this in later versions.

[2017-02-24 19:26] rowanmiller commented on #208
Are you sure that this will help? The Entry method returns an EntityEntry which is not setup to be mocked like DbSet is (nor are any of the related classes - such as PropertyEntry etc.). Would a virtual Entry method (a trivial change for us to make) help or would you need all the associated classes setup for mocking ( a more involved change)?

[2017-02-24 20:53] FrancoisM commented on #209
I'm on 6.1.3.
But I have the same issue with waiting a SqlConnection so finally I don't think it is EF related.

[2017-02-24 20:56] ADringer commented on #208
I want to mock out the Entry method so it doesn't actually go to the database, which I believe the InternalContext is doing?

I want to mock out the following line:
`_context.Entry(entity).State = EntityState.Modified;`
And I want to mock Entry to do pretty much nothing, I'm not interested in the rest of the behaviour, I'm just testing my code.

So if Entry was virtual, I would mock it to return a

[2017-02-24 21:58] rowanmiller commented on #208
Yeah, we've discussed this in the past. DbSet is setup to be faked/mocked, but it was quite a bit of work to do that, and EntityEntry and it's associated classes would be more complicated. BTW in EF Core we took a different approach of having an InMemory provider, so you don't have to mock/fake things.

If folks wanted to make incremental changes to enable mocking EntityEntry, we'd be open to the

[2017-02-24 21:58] #208 closed

[2017-02-25 07:35] SrividyaTR commented on #186
I am facing exactly the same issue what you have described. Will help me greatly in case you have been able to find the root cause for this issue and what is the approach you have taken to resolve/circumvent the issue

[2017-02-27 09:43] mstaessen opened #210 "Why does IDbSet<T> does not define async methods from DbSet<T>?"
Regarding to IDbSet<T> , the [EF documentation](https://msdn.microsoft.com/en-us/library/jj592675(v=vs.113).aspx#Anchor_1) states the following:

That is far from true if you use the async methods on DbSet<T>, which aren't defined in IDbSet<T>. Why exactly doesn't IDbSet<T> define the async methods? Should it?

From a SOLID perspective, and in particular the last letter of the acronym, it would be

[2017-02-27 17:04] ajcvickers commented on #210
@mstaessen See https://entityframework.codeplex.com/wikipage?title=Design%20Meeting%20Notes%20-%20May%2016%2c%202013

[2017-02-27 17:04] #210 closed

[2017-02-27 18:49] lajones commented on #196
@anselatz I am unable to repro. Some install logs are generated under %TEMP% when you run the installer. If you are still able to repro this can you clear out %TEMP% and then run the Update and send the logs that happen during that time, especially any with "EntityFramework" in the name. You can forward them to my user name at microsoft dot com.

[2017-02-27 19:12] mstaessen commented on #210
Thanks for the pointer. Hadn't found it.

The documentation though could be more explicit about the preference if DbSet over IDbSet. Does the old EF documentation take pull requests?

[2017-02-27 19:24] ajcvickers commented on #210
@mstaessen We take pull requests for the inline XML documentation on the classes. Not sure about the other docs. @rowanmiller?

[2017-02-27 21:23] rowanmiller commented on #210
@mstaessen Our current docs on testing don't show IDbSet (https://msdn.microsoft.com/en-us/library/dn314429(v=vs.113).aspx and https://msdn.microsoft.com/en-us/library/dn314431(v=vs.113).aspx). Was there another doc that you thought should be updated? As Arthur mentioned, you can send a PR for the API documentation, as it is maintained inline in the code.

[2017-02-28 10:03] mstaessen commented on #210
I think this doc https://msdn.microsoft.com/en-us/library/jj592675(v=vs.113).aspx#Anchor_1 might need an update. It states

but that would not be true if your code uses the async functions already.

[2017-02-28 18:58] rowanmiller commented on #210
@mstaessen agreed, I opened https://github.com/aspnet/EntityFramework.Docs/issues/360 to track this

[2017-03-03 19:01] rowanmiller commented on #209
SqlClient is maintained in https://github.com/dotnet/corefx, can you open a new issue there.

[2017-03-03 19:01] #209 closed

[2017-03-03 19:02] rowanmiller commented on #206
We decided not to do anything right now.

[2017-03-03 19:02] #206 closed

[2017-03-06 18:54] george-polevoy opened #211 "Combinatorial explosion or parameter duplicates"
When used multiple times in a queue, parameters are duplicated.

When query is reused as a code unit in a top-level query, all of the parameters of the lower-level queue are copied for each usage, so if used twice in a top-level queue, then the number of parameters from a lower-level queue will be multiplied by the number of usages.

[code]

A real-world example (expanding of a hierarchy down to 6

[2017-03-06 19:51] ajcvickers commented on #211
@smitpatel Can you try this in EF Core and see how we behave there?

[2017-03-06 21:33] ajcvickers opened #212 "Decimal precision truncates to 2 if decimal is nullable"
Moving this issue from https://github.com/aspnet/EntityFramework/issues/7775

Model:
[code]

DbContext:
[code]

[code]

The problem occurs only if decimal is nullable (decimal?). If decimal is not nullable - all fine.

**EF 6.1.3**

[2017-03-06 21:37] ajcvickers commented on #212
The behavior should be the same for nullable and non-nullable decimals. Could be related to SqlProviderServices.TruncateDecimalsToScale. @AndriySvyryd can you investigate?

[2017-03-06 22:26] smitpatel commented on #211
EF core shows the same behavior as ef6 and produces a lot of parameters. I filed https://github.com/aspnet/EntityFramework/issues/7797 to track it on EF Core.

[2017-03-08 02:51] rowanmiller commented on #124
Closing, at this point we can just blog when we publish 6.2.0

[2017-03-08 02:51] #124 closed

[2017-03-08 19:57] divega commented on #152
To summarize the current plan to ship PowerTools, we will:

1. Remove the reverse engineering feature (@erikej has volunteered to send a PR)
2. Do some smoke testing on the other features, in particular on VS 2015 U3 and VS 2017
3. Publish the VSIX to the gallery
4. In the release notes we note that customers can use the reverse engineering feature in the EF Tools or the Reverse POCO template for

[2017-03-08 20:05] ErikEJ commented on #152
@divega  Good plan!

[2017-03-08 20:27] ajcvickers commented on #211
**EF Team Triage:** This issue is not something that our team is planning to address in the EF6.x code base.  This does not mean that we would not consider a community contribution to address this issue.

Moving forwards, our team will be fixing bugs, implementing small improvements, and accepting community contributions to the EF6.x code base. Larger feature work and innovation will happen in the

[2017-03-08 20:27] #211 closed

[2017-03-09 11:55] msmolka opened #214 "ASP NET Core and EntityFramework6 after upgrade to VS 2017 faling with exception"
Hello
I know that is probably not directly related but maybe you can point me how to solve the issue.
On one computer all is working on the other not. Reverting application to VS 2015 solves the issue.
Other methods with EF working. Only one not.
The exception we have is:

`
System.NullReferenceException: Object reference not set to an instance of an object.
   at System.Data.Entity.Internal.Linq.

[2017-03-09 17:36] ajcvickers commented on #214
**EF Team Triage:** This issue is lacking enough information for us to be able to effectively triage it. In particular, it is missing the following information requested in the new issue template. Can you please provide this information?

Ideally include a complete code listing that we can run to reproduce the issue.
Alternatively, you can provide a project/solution that we can run.

BTW we're not

[2017-03-09 18:05] msmolka commented on #214
That is a problem, this issue is strange. It occurs on one computer, and not on other. Also it is not occurring every time, only on one method, other application using ef 6 and connecting to the same db is working. Just wondered if you can point me were to look for problem.

[2017-03-09 18:12] ajcvickers commented on #214
@msmolka From just the information provided I don't have any ideas on what the problem is or where to look for it. I would start by looking at what is different between the code/machines where it works and where it doesn't.

[2017-03-09 18:28] msmolka commented on #214
The funny thing is all is working in asp core vs2015 but not after migrate to vs2017

[2017-03-09 20:10] tschmit opened #215 "context does not update after querying the database"
the followinf code outputs
A
A
B

when expected
A
B
B

    using System;
    using System.Data.Entity;
    using System.Data.SqlClient;
    using System.Linq;

    namespace bugEF {
        class Program {
            public static string cs = @"server=.\SQL130EXP01;database=efbug;trusted_connection=yes";
            static void Main(string[] args) {
                using (BugCtx ctx = new bugEF.B

[2017-03-10 13:34] msmolka commented on #214
It is stranger and stranger. I've downgraded version EF all worked properly then upgraded again and now all is working.

[2017-03-10 13:34] #214 closed

[2017-03-13 16:55] WardDurossette opened #217 "After installing VS2017, VS2015 New Connection button broken"
![img_0232](https://cloud.githubusercontent.com/assets/19767604/23865174/cb749110-07e2-11e7-852c-3a4b95af09ac.JPG)

Note: Bug is durable, surviving multiple restarts of VS and a reboot of machine.

Steps to reproduce:
1. Start VS2015->File->New->Project->Console App
2. Create a new folder "Models" in the project
3. Right-click->Add New Item->Data->ADO.NET Entity Data Model
4. Code First from Datab

[2017-03-13 17:29] ajcvickers commented on #215
@tschmit The context uses an "identity map" such that entity instances that are already being tracked are always returned from a tracking query. This ensures any modified values in the entity are preserved. There are ways to update entities with the values from the database, but this needs to be done explicitly. For example, `context.Entry(myEntity).Reload();`. You can also do a no-tracking query

[2017-03-13 17:29] #215 closed

[2017-03-13 17:41] ErikEJ commented on #217
@WardDurossette I am not able to repro - You could have a sick/bad connection lingering in Server Explorer - go to Server Explorer in VS 2015 - try to follow the guide here to clear them: http://hestia.typepad.com/flatlander/2010/08/fixing-the-server-explorer-the-given-key-was-not-present-in-the-dictionary-error.html

[2017-03-13 18:56] tschmit commented on #215
ok, but why issuing the query to the db in this case ?

[2017-03-13 19:07] ajcvickers commented on #215
@tschmit In general, to know which entities are returned from a query it must be executed on the server.

[2017-03-13 19:29] ajcvickers commented on #217
@WardDurossette Could you send a report of this through `Help > Send Feedback > Report a Problem...` in Visual Studio? This will capture information about your configuration that may make it easier to debug why this happens on your system but not others.

[2017-03-14 10:30] tschmit commented on #215
Yes, I realize it after asking the question. Thank you for your work and time.

[2017-03-15 21:53] supremedictator opened #218 "Timeout exception but query was committed retry throws primary key violation"
I am using Entity Framework 6.1.2 in an Azure Cloud Service connecting to an Azure SQL Database. I have added both the RetryStrategy and the CommitFailureHandler to our configuration.

When a request is received we are trying to insert a new row into a table using the raw SQL part of Entity Framework.

We first check to see if the row exists for the ID we want to insert.

    var rows = dbContext.

[2017-03-16 05:18] jamesmanning opened #219 "enhancement request: add interception context metadata so interceptors can tell if a query is a lazy load"
This may be PEBCAK on my part, but in looking through the RelatedEnd.DeferredLoad code path and existing contents of the interception context during a ReaderExecuting, I couldn't find anything that surfaced whether the query was happening in the context of a lazy load or not.  I ended up looking at the stack during the call to determine whether it was a lazy load (and what property of what entity

[2017-03-16 17:00] rlarno opened #220 "Support for the Elastic Database tools - Multi-shard querying"
I'm not familiar with the internals of EF to find out if it would be possible/feasible to add support for the [Elastic Database Tools - Multi-shard querying](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-elastic-scale-multishard-querying).

There is already a document and support for EF for basic CRUD on a single shard: [Elastic Database client library with Entity Framework](htt

[2017-03-17 09:24] JoseCMRocha opened #221 "Configuration seed method aware of migrations applied."
Possibility to have the knowledge of the migrations applied during an update on the method seed of the class configuration.

Right know there is no easy way to know what migrations where applied when running an upgrade, so we can use that information to run only the seed/s for the target migration.

The most common non-invasive solutions you see for this are creating a `DataBaseInitializer` that i

[2017-03-17 12:45] bksharma13 opened #222 "Exception in System.Data.Entity.Core.Common.DbProviderServices.ExpandDataDirectory(String path)"
I have a clickonce deployed WPF application where we have marked our SQL Local database as a data component. At times when the clickonce is upgraded our database is kind of inaccessible from the application and all DB operations fail.

Following log is seen in the log file:
Database Initialization Failed : **Expansion of |DataDirectory| failed while processing the connection string. Ensure that |D

[2017-03-17 12:49] bksharma13 commented on #222
I posted the same in Codeplex:
_https://entityframework.codeplex.com/workitem/2965_

And ErikEJ wrote:
"Avoid using DataDirectory in your connection string, resolve the path yourself"

I don't think its a solution. Clickonce deployment on client machine cannot be controlled and this path is dynamic so how can I resolve it.

[2017-03-17 12:52] ErikEJ commented on #222
You can resolve the path during runtime, using for example: AppDomain.CurrentDomain.BaseDirectory

[2017-03-17 13:04] bksharma13 commented on #222
I first log the Data folder of the application where the database is deployed by clickonce, when lauching and I have used below code to get it:
ApplicationDeployment.CurrentDeployment.DataDirectory

The whole stack trace I have shared is generated by the EntityFramework DLL when my code tries to implement the migration code of database on the local database when my application is loaded after logg

[2017-03-17 13:08] ErikEJ commented on #222
Please share your connection string!

You can avoid the EF code path by avoiding use of |DataDirectory| in your connection string.

[2017-03-17 13:12] bksharma13 commented on #222
This is my connection string:
[code]

Please suggest what should I use here.

[2017-03-17 13:35] ErikEJ commented on #222
Before doing any data access, replace the AttachDbFileName key and use the generated connection string in your app:

            var connectionString = "Server=(localdb)\v11.0;Integrated Security = true;AttachDbFileName=|DataDirectory|LeathermanDb.mdf; ";
            var builder = new SqlConnectionStringBuilder(connectionString);
            builder.AttachDBFilename = Path.Combine(ApplicationDeplo

[2017-03-17 13:43] bksharma13 commented on #222
I am using Code first approach in my application. And your suggestion suits fit for cases when I would have created a manual connection to the local DB in the application.
The only action I take manually is verify if SQL instance is installed correctly and the required DB migration is applied successfully. Rest action like connection is done by the EntityFramework code first approach.

[2017-03-17 13:53] ErikEJ commented on #222
Yes, I understand, but Code First is not pure magic, just pass your own connection string to the DbContext constructor - https://msdn.microsoft.com/en-us/library/gg679467(v=vs.113).aspx

[2017-03-17 14:00] bksharma13 commented on #222
Thanks for the suggestion. I can try this approach as of now and see the behavior. Will update you after my client doesn't report us back. :)

[2017-03-19 18:30] MrGadget1024 opened #223 "Migrations Precision in MetadataType"
I'm trying to set Precision through MetadataType in EF6 Code First Migrations. If I set the attribute directly on the property in the class, it works correctly, but not if it's in the MetadataType class.

Is there anything I can do to get this to work (besides decorating them directly in the class)?

Use case: The original class is not in my code / control.

**Test Console App**

    Imports Syste

[2017-03-20 16:14] lemkepf opened #224 "Creating an instance of context slows down over time"
We noticed that some very small webservice calls were taking much longer than we expected. We did some investigation and put some timers in place and we narrowed it down to creating an instance of our Entity Framework DbContext. Not the query itself, just the creation of the context. I've since put some logging to see on average how long it actually takes to create an instance of our DbContext and

[2017-03-20 17:04] ErikEJ commented on #224
Make you DbContext smaller - other tips here: https://msdn.microsoft.com/en-us/data/hh949853.aspx

[2017-03-20 17:39] lemkepf commented on #224
Thanks @ErikEJ - I have looked through that doc extensively. I guess I want to know "why" does it take longer over time. Large context's are bad - but even with our large context it only takes 2-4ms on a fresh appdomain to create it. Over time that timing increases a lot.

[2017-03-20 18:15] #217 closed

[2017-03-20 18:16] ajcvickers commented on #218
@AndriySvyryd Can you take a look at this and request more info if needed?

[2017-03-20 18:19] ajcvickers commented on #220
@divega to follow up.

[2017-03-20 18:25] tinchou commented on #221
Hi Jose,

I'm currently working on a seed data proposal in EF Core: https://github.com/aspnet/EntityFramework/issues/629#issuecomment-282368487. I'm not suggesting we should do this in EF6, but anyway I'd like to know if this addresses your use case. The main idea is to move the data seeding code to the migration itself.

Thanks!

[2017-03-20 18:26] ajcvickers commented on #222
Assigning to @divega to follow-up.

[2017-03-20 19:07] AndriySvyryd commented on #218
@supremedictator You can verify that the commit failure handler is configured correctly by using a profiler to monitor you database. It should have a table named `__TransactionHistory`, on every transaction start a row should be inserted there and removed after a successful commit.
Can you check whether the handler is invoked on other operations?
If not could you create a small repro project that

[2017-03-20 19:21] ajcvickers commented on #219
**EF Team Triage:** This is a reasonable suggestion, but it is not something that our team is planning to address in the EF6.x code base.  This does not mean that we would not consider a community contribution to address this issue.

Moving forwards, our team will be fixing bugs, implementing small improvements, and accepting community contributions to the EF6.x code base. Larger feature work and

[2017-03-20 19:21] #219 closed

[2017-03-20 19:24] ajcvickers commented on #223
@MrGadget1024 We suspect that there may be an issue using "buddy" classes like this, but it is something we rarely see used so it is unlikely that this will be high enough priority for us to spend time investigating and fixing this. That being said, if a high quality PR is submitted by the community to fix it, then we would certainly consider taking such a PR.

[2017-03-20 19:24] #223 closed

[2017-03-20 19:27] ajcvickers commented on #224
@lemkepf Couple of questions to help us understand this more:
* Is the same model used for every context instance? (If EF is building your model for you, then check whether OnModelCreating is called once or multiple times.)
* Is the same connection string used for each context instance? If not, how many different connection strings are used?

[2017-03-20 20:21] lemkepf commented on #224
@ajcvickers Ask away!
1.  It's using the same model for every context instance. OnModelCreating is only called once during our globals pre-warm up on startup.
2. The same connection string is used for each context instance.

[2017-03-20 21:06] supremedictator commented on #218
@AndriySvyryd Thank you for your help
I can confirm there is a __TransactionHistory table and it is getting populated for other operations.
I have used the profiler when the query in question executes and can see it is also inserting a row into the __TransactionHistory table on my local development machine as expected.
And then the row is removed a little later.

I haven't done any profiling on Az

[2017-03-20 23:26] lajones opened #225 "Ensure EF6 Tools continue to work SxS with different releases of VS2017"
The 15.0 release of VS (VS2017) is already out. At some stage there will be a 15.1 release. This issue is so we do the requisite SxS testing to ensure we continue to work.

In particular EF6 tools utilizes a Singleton MSI to place the EF packages that NuGet uses for its local cache and to insert the registry key which points to that cache. We may need to investigate with the NuGet team to allow mu

[2017-03-21 12:29] AnilCAE opened #226 "Is this SO post an issue with EF6?"
http://stackoverflow.com/questions/16954429/entity-framework-6-code-first-one-way-many-to-many-via-annotations

[2017-03-21 19:48] divega commented on #222
**Note for triage:** This is a legitimate bug.

As explained by @bksharma13 one of the checks that we have in `ExpandDataDirectory()` is incorrect: It currently throws for any data directory path that contains `".."`. This results in an exception for valid direct paths such as `@"c:\dots..are..valid..inside"`.

It also seems that ClickOnce has a propensity to produce deployment paths that contain

[2017-03-21 20:24] ajcvickers commented on #226
@AnilCAE Are you asking if there is a way to create a unidirectional many-to-many association with only data annotations? If so, then I think the answer is no; instead the fluent API should be used, as suggested in the answer to that question on StackOverflow.

[2017-03-21 23:00] AndriySvyryd commented on #218
This looks like a bug/limitation in the commit failure handler. When a commit fails it only tries once to verify it and if this fails it assumes the transaction was rolled back without retrying.

Try using this modified handler:
[code]

You will also need EF 6.2.0 or use the [SuspendableSqlAzureExecutionStrategy](http://stackoverflow.com/questions/31899382/how-to-use-sqlazureexecutionstrategy-and-

[2017-03-22 19:14] jwstemper opened #228 "Does EF6 support SQL Synonyms?"
I have a requirement to use several tables that are synonyms from a second db. Is this possible with EF6 or when will it be added?

[2017-03-23 09:54] JoseCMRocha commented on #221
Hi tinchou,

I have read trough your proposal, and the its a good proposal but in a different context. In EF6 there is already a way of calling seeders on upgrade migrations from the method Seed on the class Configuration, what I was proposing here was a more simple way to have an overload of that method and instead of have a method that just receives the context, an overload to receive the contex

[2017-03-23 21:14] tinchou commented on #221
Thank you for taking a look! I'm implementing that proposal on EF Core, and since it's different from EF6 data seeding I want to be sure I'm covering the same and new scenarios.

[2017-03-24 06:50] HellBrick opened #230 "Migration commands crash when running against an SDK-based csproj"
I've encountered this problem when trying to convert a project to the new SDK-based csproj. It had worked fine until I tried to add a new migration, which crashed with the following error:
[code]

You can easily reproduce this with a new project:
[code]
[code]

Running `Enable-Migrations` against it will cause the same error.

This is a very unpleasant blocker for us, is there any way to at least

[2017-03-24 07:18] ErikEJ commented on #230
Use a standard "Classic" class library?

[2017-03-24 07:26] HellBrick commented on #230
That's what we're doing today =) The old csproj format obviously works, but the whole point of this issue is to figure out how to migrate to the new csproj format while keep using EF 6.

[2017-03-24 07:27] ErikEJ commented on #230
You will be entering a world of pain, suggest you wait for a new EF version (ie 6.3) with support for new project format https://github.com/NuGet/Home/issues/4876

[2017-03-24 07:29] ErikEJ opened #231 "Make EF NuGet package / migrations and EF Tools work with new csproj format"
**Workaound:**

Currently the following workaround works (tested on an ASP.NET Core 2.0 app):
- Move the model into a traditional .NET Framework library that uses the old project system
- Add the aforementioned library as a dependency
- Unload the ASP.NET Core application from the solution
- Execute the Enable-migrations command against the library project. This step seems to only be necessary the

[2017-03-24 07:29] ErikEJ commented on #230
I have logged https://github.com/aspnet/EntityFramework6/issues/231

[2017-03-24 07:56] HellBrick commented on #230
"World of pain" is a relative term, the old csproj isn't that pleasant to deal with either ;) If this can't be done without some substantial engineering work in the EF codebase, then there's no other choice but to wait for the update. However, if it's possible to make migrations work via some manual adjustments to project file/app.config/migration script/whatever, then it might just be worth it.

[2017-03-24 19:05] AndriySvyryd commented on #218
@supremedictator Did you have a chance to try the workaround? We are considering to include it in 6.2.0 if it resolves the issue.

[2017-03-26 05:52] navozenko opened #233 "Wrong navigation property mapping with Fluent API"
Hello.
Here is a simple code that should write and read a list of users

    class User
    {
        public int Id { get; set; }
        public virtual UserType Type { get; set; }
    }

    class UserType
    {
        public int Id { get; set; }
    }

    class MyDbContext : DbContext
    {
        public DbSet<User> Users { get; set; }
        public DbSet<UserType> UserTypes { get; set; }

[2017-03-26 22:32] supremedictator commented on #218
My test program only reproduces the symptoms. So it is difficult to reproduce exactly what our production system is seeing.
The main difference in my test program is I am forcing the timeout exception to happen before the committed method is being called by using TABLOCKX, however when commit doesn't get called then the commit failure handler never gets a chance to verify if the query actually suc

[2017-03-27 11:13] davkean commented on #189
@rowanmiller @divega @rrelyea Can we figure out which side of the fence is going to fix this? Current there's a bug both against EF and NuGet that are point to each other.

[2017-03-27 15:30] divega commented on #189
@davkean Yes, already looking at it.

In the meanwhile, the recommended workaround if to manually to the application's .config file:

[code]

[2017-03-27 15:54] divega commented on #189
Note for triage: users don't need to be using the new csproj file format. It is enough to use [PackageReference](http://blog.nuget.org/20170316/NuGet-now-fully-integrated-into-MSBuild.html) instead of package.config.

[2017-03-27 16:09] ErikEJ commented on #189
Sorry if that was unclear in my original issue description

[2017-03-27 16:14] smithaitufe commented on #221
@tinchou Thanks so much for your interest in seeding. I love the ideas you proposed.

I will like to know the timeline for this and if there is a way I can contribute.

[2017-03-27 18:38] #226 closed

[2017-03-27 19:59] ajcvickers commented on #228
@jwstemper Can you be more specific about what support you are looking for? Reverse engineering a model from a database does not support synonyms, but manually added mappings for table synonyms should work.

[2017-03-27 20:00] ajcvickers commented on #230
Closing this as a dupe of #231, which we are investigating.

[2017-03-27 20:06] ajcvickers commented on #233
@navozenko The HasOptional().WithOptionalDependent() mapping means that there can be at most one entity on either end of the relationship. In your code, userType2 is first associated with one User, and then in the next line associated with another User. This causes it to be "reparented" from one User to the next. The first User no longer has a UserType associated with it, and hence the navigation

[2017-03-27 20:06] #233 closed

[2017-03-27 20:08] ajcvickers commented on #224
@lemkepf Can you create a project or complete code listing that reproduces this issue so we can attempt to root cause what is happening?

[2017-03-27 20:27] lemkepf commented on #224
@ajcvickers this is a huge enterprise app. I'll try and get a smaller reproducible project for you. I can get you a memory dump quicker. Would that work?

[2017-03-27 20:51] ajcvickers commented on #224
@lemkepf Possibly. :-)

[2017-03-27 21:49] lemkepf commented on #224
@ajcvickers  - shoot me an email: plemke at acculynx.com and i'll sent you a link to a memory dump. I'm also working on creating a small project too that recreates it.

[2017-03-28 14:11] WaltGordon commented on #96
The issue is that the ToolLogger lease lifetime (base class MigrationsLogger is a MarshalByRefObject) is at the default (5 minutes).  The ToolingFacade creates the logger, which lives in the main program's app domain.  The migrations run in a different app domain.  If a migration takes longer than 5 minutes, the attempt to log any further information results in this error.  A solution would be to

[2017-03-29 13:56] ericpopivker opened #234 "When is 6.2 release planned?"
Not sure if this is the right place to ask this question. If it is not, please point me to the right forum.

In Road Map it says: "We expect to ship EF6.2 Q4 2016/Q1 2017."
and last release "6.1.3" was rolled a year ago.

I am really looking forward to this change:
https://github.com/aspnet/EntityFramework6/pull/40
, since for my web applicaiton - it takes about 40s for first call to DbContext.

[2017-03-29 14:00] ErikEJ commented on #234
They still have 2 days! @divega

[2017-03-29 17:59] ErikEJ commented on #230
@ajcvickers Think you forgot to actually close?

[2017-03-29 18:46] ajcvickers commented on #230
@ErikEJ Thanks. You are our process bot. 😉

[2017-03-29 18:46] #230 closed

[2017-03-29 20:27] ajcvickers commented on #230
@ErikEJ Don't apologize. It is much appreciated. 😸

[2017-03-31 01:57] tinchou commented on #221
Hey Samuel, thanks for your interest.

I just posted a demo on the [EF Core thread](https://github.com/aspnet/EntityFramework/issues/629#issuecomment-290511112). Feel free to test it and report any bugs you find!

One interesting thing would be to add support for Navigations, and I don't think the team will be doing that any time soon. I'll make sure we create a bug tracking it and put an `up-for-

[2017-03-31 06:55] dawoodahmad opened #236 "Edmx Designer is taking too much time to load"
EDMX Designer is taking so much time to load. Following are the details

- VS 2013
- Entity Framework 6.1.1
- Windows 7
- Database Oracle

[2017-03-31 14:31] adam8797 opened #237 "EF 6.1.3 Crashing IIS Express with ASP.Net Core MVC"
I (and a few other users) have been experiencing a problem when using EF 6.1.3 and IIS Express. For some reason, sites will crash very inconsistently. Some times, it works, other times it does not.

For the sake of not being redundant, I'll link to a StackOverflow question I put up on the subject, where I go into more detail. Other users are commenting that they have the exact same problem.

https

[2017-03-31 17:08] ajcvickers commented on #236
**EF Team Triage:** This issue is lacking enough information for us to be able to effectively triage it. In particular, it is missing the following information requested in the new issue template. Can you please provide this information?

Ideally include a complete code listing that we can run to reproduce the issue.
Alternatively, you can provide a project/solution that we can run.

BTW we're not

[2017-03-31 17:25] dawoodahmad commented on #236
@ajcvickers what other information you need? We have 118 tables all connected. We are using database first approach to generate edmx.

[2017-03-31 17:33] ajcvickers commented on #236
@dawoodahmad
* How much time is it taking?
* Which Oracle provider are you using and what version?
* What would we need to do to reproduce this? Are you seeing it for any database with many tables, or is there something else about the database structure that makes it very slow?

[2017-03-31 17:53] dawoodahmad commented on #236
It takes more then 8 minutes to load.  Following are the oracle provider details.

- Oracle.ManagedDataAccess (4.121.2.0)
- Oracle.ManagedDataAccess.EntityFramework (6.121.2.0).

I think its due to so many tables. almost all tables are connected using foreign keys relationship.

[2017-03-31 18:13] lajones commented on #236
We had an issue last year where a model with a large number of associations had performance issues. In the end it was found that the TabTip.exe (Touch Keyboard and Handwriting Panel) process was interfering and ending that process in Task Manager solved the problem. Not sure if that is your problem but worth a try.

[2017-03-31 22:21] #218 closed

[2017-03-31 22:25] AndriySvyryd commented on #218
@supremedictator I've fixed the issue that I believe you were hitting. The fix will be available in EF 6.2.0-beta

[2017-04-01 13:29] jamesmanning opened #238 "Include on entity doesn't work if entity is selected as part of anonymous type"
[EF6-Include-Test.zip](https://github.com/aspnet/EntityFramework6/files/887664/EF6-Include-Test.zip)

Full zip is attached but I made 4 tests to show the issue.  Only 2 tests are really needed to show the issue, but I showed it happening for both reference and collection navigation properties in case the necessary fixes are different for them (although this may be By Design, admittedly).

These ar

[2017-04-03 10:07] stevenxi opened #239 "EF's exception handling isn't correct"
It's a bit complicated problem:

We found 2 'impossible' errors in our code:
a. An 'Select' query should always returns value, returns 0 result.
b. An 'Count' query, throws no element exception.

We did investigation, the reason for those errors are because EF executed a data reader, has no result. But for that query, there MUST be result in it.

We tried to add log to trap the problem. The logger

[2017-04-03 12:30] nchaly commented on #199
Hi again. The code in question was a part of IP and I had to create something from scratch. It took a while, but now it's ready - https://github.com/nchaly/ef6-metadata-test

My goal was to make something simple and "all-inclusive": I've taken a Northwind model as a sample; using ClrMD I was able to count objects without need to get an external profiler.

Here is the chart built on sample data - h

[2017-04-04 18:19] ajcvickers commented on #199
@divega Can you investigate this?

[2017-04-04 18:29] ajcvickers commented on #224
@AndriySvyryd Can you do an initial investigation? I can send you the memory dump.

[2017-04-04 18:29] ajcvickers commented on #228
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2017-04-04 18:29] #228 closed

[2017-04-04 18:32] AndriySvyryd commented on #224
@ajcvickers Yes

[2017-04-04 18:34] ajcvickers commented on #238
@divega Can you confirm that this is by-design on the old stack? (Works in EF Core)

[2017-04-04 19:57] ajcvickers commented on #221
@JoseCMRocha We have been discussing this today but have been having trouble recognizing the value that it adds. Can you elaborate a bit on how you will use the migration IDs? In might help to explain if you could show some example code of how using the IDs will improve your Seed method.

[2017-04-04 20:00] ajcvickers commented on #237
@Eilon This is a FatalExecutionEngineError when running ASP.NET Core on .NET Framework with EF6 in IIS. It seems unlikely to be an actual EF6 issue. What would be the best place/contact to direct this kind of issue?

[2017-04-04 23:10] Eilon commented on #237
Perhaps https://github.com/dotnet/coreclr is a good place to start?

[2017-04-04 23:51] adam8797 commented on #237
I'll post an issue to them, and see if they have any ideas, I'll link it back here for the sake of continuity.

[2017-04-05 08:50] joseKrocha commented on #221
Of course @ajcvickers, going to try explain it by example.
Lets assume we have 4 migrations, A B C and D respectively, and a seeder file called seederA that was created on the migration A and it is called on the Configurator class like
[code]
Inside this seederA there is an AddOrUpdate of the class foo that contains three fields (Id, Name, Description) and I'm inserting a row with  (Name = "Boo",

[2017-04-05 09:09] JoseCMRocha commented on #221
Of course @ajcvickers, going to try explain it by example.
Lets assume we have 4 migrations, A B C and D respectively, and a seeder file called seederA that was created on the migration A and it is called on the Configurator class like
[code]
Inside this seederA there is an AddOrUpdate of the class foo that contains three fields (Id, Name, Description) and I'm inserting a row with  (Name = "Boo",

[2017-04-05 09:51] mbaaz commented on #221
I can see a great use of this feature.
In many projects I work on, I want to make content changes to the database as well as structure changes. Migrations are good on dealing with structure changes, while the Seed-method is great for content.

Some content has to be modified when a migration is applied. It could be that when a column is added to a table, I want to calculate the default value to in

[2017-04-05 18:53] #237 closed

[2017-04-07 19:05] ajcvickers commented on #236
@dawoodahmad Did you check the suggestion from @lajones? If that doesn't help then can you send us a model we can use to attempt to reproduce the issue? You can email it to me--I am avickers at Microsoft.

[2017-04-07 19:06] ajcvickers commented on #238
Confirmed that this is by-design for EF6. Any time the shape of the result set is changed--in this case with the projection--all includes are ignored. In EF Core, the include would be honored.

[2017-04-07 19:06] #238 closed

[2017-04-07 19:07] jamesmanning commented on #238
@ajcvickers thanks for the info, especially the great news it's fixed (IMHO) in EF Core!

[2017-04-07 19:20] ajcvickers commented on #221
Thanks for the more detailed information. We have discussed this again and we are concerned that what is being described won't really work in practice. There are two main reasons for this:
* The CLR types and the underlying model are always going to be for the latest/current model. This means trying to perform operations related to previous iterations of the model will be at best confusing and at

[2017-04-10 08:22] joseKrocha commented on #221
Hello and thanks for your time, yes I do to believe that the work referred by @tinchou would be better than my proposal.

In relation to the 2 points refereed by you, I agree with the first one that if one choose to use the seeder logic that I explained, it may need to rework the old seeders to remove columns that were dropped or types of the columns that may change, but, it is any different from

[2017-04-10 08:23] JoseCMRocha commented on #221
Hello and thanks for your time, yes I do to believe that the work referred by @tinchou would be better than my proposal.

In relation to the 2 points refereed by you, I agree with the first one that if one choose to use the seeder logic that I explained, it may need to rework the old seeders to remove columns that were dropped or types of the columns that may change, but, it is any different from

[2017-04-10 10:13] taimurahmad971 commented on #236
@lajones  "Touch Keyboard and Handwriting Panel" is already stopped. @ajcvickers how could we send you  schema of db?

[2017-04-10 10:16] taimurahmad971 commented on #236
@ajcvickers its around 180 tables in oracle db. Please specify what is required?

[2017-04-10 18:25] divega opened #240 "Migrate.exe should support -script option"
(Copied from http://entityframework.codeplex.com/workitem/251)

_From __Marcel Bradea__
on 05-05-2012 1:09 PM_

I noticed the migrate.exe command line tool does not have a "-script" equivalent of the NuGet tool. This would be tremendously useful since you usually don't want to run any migrations without generating and verifying the scripts that get applied to the database first. It is the ultimate

[2017-04-10 18:26] divega commented on #240
Fixed in 227915760e0708a23fb7218aabdfce85caacca18. Thanks @Sebazzz

[2017-04-10 18:26] #240 closed

[2017-04-10 18:48] divega opened #241 "Add DbFunctions.Like() to enable writting LINQ queries tha translate to LIKE in SQL"
The feature was first requested as https://entityframework.codeplex.com/workitem/2388 and https://entityframework.codeplex.com/workitem/1323

This [enhancement](https://github.com/aspnet/EntityFramework6/pull/36) was contributed by @brandondahler and included in 6.2. Thanks Brandon!

[2017-04-10 18:48] #241 closed

[2017-04-10 18:57] divega opened #242 "Extending an Existing Entity Using TPC Creates Bad Migration"
(copy of https://entityframework.codeplex.com/workitem/2946)

_from __@montanehamilton__
on Jul 25, 2016 at 2:45 PM_

We've been seeing the described behavior with a symptom where the migration generated is trying to recreate the Entity's table that already exists and thus an exception occurs due to the table existing already.

Interestingly the migration also tries to drop the same table later in

[2017-04-10 18:57] divega commented on #242
This was addressed by @montanehamilton's contribution at https://github.com/aspnet/EntityFramework6/pull/1. Thanks Montane!

[2017-04-10 18:57] #242 closed

[2017-04-11 06:47] mbaaz commented on #221
I have to say I agree with both of you, @JoseCMRocha and @ajcvickers.

In most cases, it is a bad idea to rely on CLR objects for the seed data, since that might mean you need to re-work old seeders to be working with the current structure of the objects. However, as @JoseCMRocha points out, this is no different than what we need to do in the Seed-method today. This addon will just make sure we ge

[2017-04-11 08:20] smithaitufe commented on #221
I really don't know why this is an issue for us in. Net

In Elixir/Phoenix, seed is as simple as *mix run /priv/migrations/seed.exs* whether in development or production environment.

I am not really following the debate that has been for months but I know this is a need.

[2017-04-11 11:36] stephanebo21 opened #243 "EF Tools 6.1.3 Update Model Issue"
Sorry to post again my issue in reference of issue #109.

Sorry for my late answer, but I needed time to install a new clean machine to reproduce this case.
I have reproduced the issue and can give you details.
Before when the solution worked, after updating my EF Model I could encounter this kind of warning:

This issue was resolved by the development of a custom tool which modify xml model after

[2017-04-11 18:52] lajones commented on #243
@stephanebo21 - so, just to be clear, you are saying this Entity no longer shows up _even if you open the .EDMX file in an XML editor and search for `JOBS`_? It might be there just commented out. (If it is just commented out it would not show up at all when you open the file in the EDMX designer, but you might be able to solve the problem by manually editing the XML to declare your own key).

[2017-04-11 19:46] divega commented on #243
@stephanebo21 I have updated this new bug report with the additional information from your comment at https://github.com/aspnet/EntityFramework6/issues/109#issuecomment-273514897. For future reference, it should always be possible to re-open an issue if you are the original poster. You should also be able to edit your own comments to add any missing information.

Regarding the issue itself, the tw

[2017-04-12 07:58] stephanebo21 commented on #243
Hi,
Thanks for your answer.
We are using Entity Framework 6.0.0.0 on Visual Studio 2012.
I am pretty sure the problem is in the designer.
If I only update Entity Framework 6.0.0 to 6.1.3, still on Visual Studio 2012 it does not work.
If I only migrate to Visual Studio 2015, it does not work.

[2017-04-12 13:32] danmiser opened #244 "Microsoft.SqlServer.Types hardcoded to use 10.0 or 11.0"
On a new machine I have VS2017 and MSSQL2016 installed. I create a project that installs EntityFramework 6.1.3  and Microsoft.SqlServer.Types 14.0.314.76 and uses spatial types. When running, you get the error:
"Spatial types and functions are not available for this provider because the assembly ‘Microsoft.SqlServer.Types’ version 10 or higher could not be found"

The workaround is to set up a bin

[2017-04-12 15:37] ErikEJ commented on #244
How about the EntityFramework package having a dependency on the Microsoft.SqlServer.Types packages (only drawback is the increased payload size) ?

[2017-04-12 16:34] lajones commented on #243
@stephanebo21 please let me know the answer to the question I asked about what you see when you open the file in the XML editor.

[2017-04-13 03:30] lincolnzocateli commented on #156
![image](https://cloud.githubusercontent.com/assets/16601706/24980844/6270673a-1fb0-11e7-994f-2e1151edaa18.png)

I migrated a VS2015 application with EF6.1.3 to VS2017 (net461), but I am not able to do migrations and update-database

![image](https://cloud.githubusercontent.com/assets/16601706/24980893/9825ed6e-1fb0-11e7-8f25-b0cf56e2075b.png)

[2017-04-13 04:26] lincolnzocateli commented on #231
Hi,
I am with a system that has migrated from VS2015 (net461) to VS2017 (csproj "net461"), with problem equal ao @HellBrick.#230

Do you have prevision to new version EF 6.3.2 ?
Is there any workaround I can do for now?

[2017-04-13 06:39] stephanebo21 commented on #243
@lajones about your question, our entity is no longer in the EDMX file in 6.1.3 version.
In 6.0.0 version no problem (Jobs is system view from oracle):

<EntityType Name="JOBS">
          <Key>
            <PropertyRef Name="JOB_NAME" />
          </Key>
          <Property Name="JOB_NAME" Type="varchar2" MaxLength="128" Nullable="false" />
          <Property Name="STATE" Type="varchar2" MaxLengt

[2017-04-13 06:44] stephanebo21 commented on #243
`<EntityType Name="JOBS">
          <Key>
            <PropertyRef Name="JOB_NAME" />
          </Key>
          <Property Name="JOB_NAME" Type="varchar2" MaxLength="128" Nullable="false" />
          <Property Name="STATE" Type="varchar2" MaxLength="15" />
          <Property Name="NEXT_RUN_DATE" Type="timestamp with time zone" />
          <Property Name="LAST_START_DATE" Type="timestamp with ti

[2017-04-14 18:58] #221 closed

[2017-04-14 19:00] ajcvickers commented on #236
@taimurahmad971 Probably we can use just the EDMX file.

[2017-04-14 19:32] ajcvickers commented on #243
@lajones Discussed with @divega and decided we should change the designer to ignore nullability of key columns and just used them anyway--possibly with a warning. In essence this is the same as the discussion we had recently about alternate keys on EF Core.

We should try to get this into the 6.2. beta.

[2017-04-14 20:53] divega opened #245 "Tools: Singleton MSI needs reference counting"
The singleton MSI used to put the runtime NuGet packages on disk in Dev15 doesn’t seem to have the reference counting mechanism enabled.

If you install Dev15 RTW and Dev15.1 on the same machine and remove one of these, the MSI will likely get removed and you’d have to repair VS.

This is part or related to #225.

[2017-04-15 13:12] bass3l opened #246 "Changing connection for a different database, same data"
Hi, I'm trying to use EF with multiple DBs (all Oracle), I change the connection string but I get the data from the first DB I connect to, here is a code sample to demonstrate what I'm doing:
[code]
I tried using `IDbModelCacheKeyProvider` in the `TestContext` and set a different cache key for every context which connects to a different schema but with no luck, and I tried setting a HistoryContext

[2017-04-15 19:02] ajcvickers commented on #246
@bass3l There's nothing obvious in what you posted. Can you provide a more complete code listing or project that reproduces the issue?

[2017-04-17 18:24] ajcvickers commented on #245
This is an EF6 tools for Dev15 issue.

[2017-04-17 18:27] ajcvickers commented on #246
@bass3l You could also try looking at the logs, using DbContext.Database.Log.

[2017-04-17 18:50] ajcvickers commented on #244
EF Triage: we decided to add a mechanism that would allow an application to explicitly set the assembly to use. This would likely just be a static method on the SQL Server provider.

[2017-04-17 20:04] lajones opened #247 "EF6 Performance Optimization"
In Nov 2016 we added attributes to the bootstrap package, `EntityDesignBootstrapPackage`, which specified loading the package only when a `.edmx` file was selected (instead of at solution-load time). But this performance optimization work did not result in the performance improvement we had expected. After investigation it looks like the attributes that were added needed corresponding updates to t

[2017-04-18 23:58] lincolnzocateli commented on #156
Yes, you can close this issue.
I solved the problem by creating in the "Data" project an app.config file with the necessary data of EntityFramework 6.1.3
When I need to do migrations, just make this project a startup.

![image](https://cloud.githubusercontent.com/assets/16601706/25157765/a7b1f700-2479-11e7-810f-9bde487cf534.png)

[2017-04-19 01:55] IanYates commented on #185
My VS2015 installation is dead and I need to update a model today.  Back to the source, build and see if I can shoehorn into 2017...  I'll let you know.

[2017-04-19 02:53] IanYates commented on #185
Success.
I did a fresh fetch of master, opened 2017 dev prompt and built EF and the tools.  A *lot* of the tests in the EF build failed...
I then overwrote these files in `progX86\Microsoft Visual Studio\2017\Enterprise\Common7\IDE`

![image](https://cloud.githubusercontent.com/assets/1314477/25161382/fb9f51b6-24fe-11e7-8e35-cbdf4da6b0ba.png)

I'm now able to update my model.  Thank you again!  🙌

[2017-04-20 06:32] bass3l commented on #246
Yes thanks, I did that earlier, I was able to fix the problem using the `modelBuilder.HasDefaultSchema`, and EF was able to cache the models appropriately.

[2017-04-20 06:32] #246 closed

[2017-04-20 09:30] leotsarev opened #249 "Query: No support for casting/converting string to GUID/UNIQUEIDENTIFIER"
I like to re-open following request
https://entityframework.codeplex.com/workitem/1865

[2017-04-20 10:30] leotsarev commented on #249
If this is ok, I want to understand if this change is easy enough to be completed by someone without specifc knowledge about EF codebase.

[2017-04-20 10:43] divega commented on #249
@leotsarev have you tried comparing the Guids as text, e.g.:

[code]

Would address you needs?

I don't think implementing the solution based on the string constructor would be too difficult, but it does require familiarity with the codebase. You may want to look at other examples in `MethodCallTranslator.cs` and try to understand how they work.

[2017-04-20 10:49] leotsarev commented on #249
I have ```Select```, not ```Where```.
And yes, there is plenty of workarounds. I just think this should "just work".
I'll look into ```MethodCallTranslator```, thanks.

[2017-04-21 00:16] lajones commented on #247
Fixed with PR #248.

[2017-04-21 00:16] #247 closed

[2017-04-21 14:44] Backs opened #250 "Excessive ToList calls"
Solution contains a lot of ToList calls, sometimes ther are excessive and leadt to unnecessary memory traffic and perfomance problems.
In some places it's better to use more generic types like IEnumerable<T>

[2017-04-21 15:45] ajcvickers commented on #250
@Backs I'm sure there are places where ToList calls are unnecessary, but usually these are there by design to protect the original collection, often because there is a possibility that it will be modified while it is being iterated. For us to take any PR on this we would have to be confident that in every place the ToList is removed there will not be a regression in functionality. Running all the

[2017-04-21 15:52] Backs commented on #250
@ajcvickers I checked many places - lot of them use some sort of IReadOnlyCollection, so here, I'm sure, ToList is unnecessary. Sometimes it's list.ToList() calls. Maybe, it's better to split this issue to small tasks like "remove ToList in method A". What do you think?

[2017-04-21 18:26] ajcvickers commented on #236
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2017-04-21 18:26] #236 closed

[2017-04-21 19:04] ajcvickers commented on #249
**EF Team Triage:** This issue is not something that our team is planning to address in the EF6.x code base.  This does not mean that we would not consider a community contribution (PR) to address this issue.

Moving forwards, our team will be fixing bugs, implementing small improvements, and accepting community contributions to the EF6.x code base. Larger feature work and innovation will happen i

[2017-04-21 19:04] #249 closed

[2017-04-21 19:08] ajcvickers commented on #250
@Backs We discussed this and decided that we will consider PRs to remove ToList but only in places where:
* It can be shown with confidence that there is no functional impact
* It is in a performance critical code path, either in terms of pure performance, or in terms of creating a lot of garbage.

So if you want to pursue this, then smaller PRs with justifications for the points above would proba

[2017-04-22 03:59] Backs commented on #250
@ajcvickers ok, I'll split PR to small isolated parts

[2017-04-22 15:53] SevenPlus opened #253 "EF generate wrong sql ， BUG？"
my development environment is "MYSQL+EF6.1.3"

here is my c# code

 .OrderByDescending(o=> DbFunctions.CustomFun(o.Title,"TEST"));

the generated sql below

_**`Project1`.`C2` AS `C1`,**_
`Project1`.`id`,
`Project1`.`title`,
`Project1`.`imageurl`
FROM (SELECT
**_`CustomFun`(`Extent1`.`title`, @gp1) AS `C1`_,**
`Extent1`.`id`,
`Extent1`.`title`,
`Extent1`.`imageurl`,
**_1 AS `C2`_**
FROM `ad` AS `E

[2017-04-24 15:36] kev160967 opened #254 "Lazy loading and added entities"
I assume this is a design decision rather than a real issue, but I'm curious as to the reasoning, and suggestions for handling it. In a DbContext with lazy loading enabled I can fetch an entity, then navigate from that entity to a related entity and the related entity will be loaded for me. If I create a new instance of the first entity, using the Create method to get a proxy, set the related enti

[2017-04-24 17:36] ajcvickers commented on #254
@kev160967 Can you post a complete code listing or project that reproduces what you are seeing?

[2017-04-24 19:10] ajcvickers commented on #253
@SevenPlus Is this producing incorrect results for you? If so, could you provide a complete code listing or project that reproduces the issue? You also might want to file an issue with the MySQL provider, since the bug may be there.

Beyond any functional issue, this kind of SQL change is not something that our team is planning to address in the EF6.x code base.  This does not mean that we would n

[2017-04-24 19:27] kev160967 commented on #254
Not at my desk at the moment, but here is a quick example I have running in Linqpad. If it helps I'll post a sample project when I'm back in the office tomorrow. In this example, Booking entities have a relationship to Content items through the property ContentClass:

[code]

This code lazy loads the Contents entity, and allows you to access the IsEmpty property:

[code]

This code does not - Cont

[2017-04-25 09:59] kev160967 commented on #254
I have created a small test project that illustrates the issue. The following SQL script can be used to create the database it requires:

[code]
There are three sections to the code. In the first it creates some test entities. In the second it loads the parent then lazy loads the related entity. In the third it creates a parent, sets the FK property to a related entity, then tries to navigate to t

[2017-04-26 16:20] ajcvickers commented on #254
@kev160967 Thanks for providing more details. EF6 and all earlier versions of EF do not do lazy loading for entities in the Added state. The main reason for this is that Added entities are tracked differently than other entities and don't have real keys. They also don't fixup in the same way. This means that the general case of lazy loading becomes inconsistent. In your case, where an Added entity

[2017-04-26 16:20] #254 closed

[2017-04-26 17:40] lajones commented on #245
Fix checked into release-6.2.0-beta1 and master branches of EFBuild with commit acc2cf51.

[2017-04-26 17:40] #245 closed

[2017-04-26 23:47] lajones commented on #243
@stephanebo21 My guess is that the 6.0.0 XML you posted above for the Entity `JOBS` is _after_ your custom tool had run (because that EntityType does not look like it would have generated the `6002` error). Are you able to post what the EntityType looks like _before_ your custom tool runs so I can try to mimic it as closely as possible?

[2017-04-27 14:28] stephanebo21 commented on #243
@lajones You're right. Before running our custom tool we get this error in the designer:
Error 75: Key Part: 'JOB_NAME' for type JOBS is not valid. All parts of the key must be non nullable.

Our custom tool simply add the property 'Nullable' to 'False' cause it's missing.

[2017-04-27 16:10] lajones commented on #243
@stephanebo21 OK. Thanks. I'll investigate.

[2017-04-28 01:57] sishik1 opened #256 "CommitFailureHandler not working correctly with database first connection strings"
I created a test project using VS 2012 with EF 6.1.3 to test CommitFailureHandler with code-first and database-first (EDMX). If I use code first with CommitFailureHandler, everything works as corrected. When I switch to use database-first connection string **and** connection string uses SQL user authentication (non-windows), I get the following exception:

[code]
Here are the connection strings I'

[2017-04-28 08:33] PhilPJL opened #257 "Migration script issue"
If I have a migration like this

    public partial class EnableAutoUnload : DbMigration
    {
        public override void Up()
        {
            AddColumn("dbo.ProductionLine", "EnableAutoUnload", c => c.Boolean(nullable: false));
            AddColumn("dbo.ProductionLine", "AutoUnloadDoffNumber", c => c.Int());

            Sql("update dbo.ProductionLine set EnableAutoUnload = 1 where MaxSp

[2017-04-28 14:45] dschuermans commented on #257
@PhilPJL  - Try wrapping your Sql() statements in EXECUTE('') statements...

So Sql ("Update table SET Column = 'Value'") becomes Sql("EXECUTE('Update table SET Column = ''Value''')")

Keep in mind the escaped single quotes around value

[2017-04-28 15:06] CZEMacLeod commented on #257
These extension methods may help...

[code]

So
`Sql("Update table SET Column = 'Value'")` becomes `SqlExecute("Update table SET Column = 'Value'")`

[2017-04-28 15:17] dschuermans opened #258 "migrate.exe RemotingExecption - occurs during long running migrations"
Wall of text / situational sketch:

Up untill now, I have been using the generated script to perform my database updates in our automated release system (VSTS).
This script can be obtained by running the following command:
`Update-Database -Script -SourceMigration 0`

When looking at the script, it will add checks to see if a migration is already applied or not, making it an ideal script when used

[2017-04-28 15:18] PhilPJL commented on #257
Yes of course, thanks.  Should have thought of that :)

[2017-04-28 15:18] #257 closed

[2017-04-28 15:38] dschuermans commented on #258
Another related post on SO:

[http://stackoverflow.com/a/42609870/5903834](http://stackoverflow.com/a/42609870/5903834)

[2017-04-28 17:39] ajcvickers commented on #258
Note for triage: The RemotingException is tracked by #96

[2017-05-01 06:38] mapsupetran opened #260 "Migration Error: Sequence contains more than one matching element"
We keep getting an error that says "Sequence contains more than one matching element..."

We initially encountered the error while doing migrations (add-migration, update-database), but eventually learned that it also occurs on the first method call (i.e. Set<T>) or property access (ChangeTracker) of the DbContext.

Deleting the migration files and generating a new one gets rid of the error, but w

[2017-05-01 16:01] lukeatron commented on #4
I know this is a closed issue but I've recently run into it in a big way with a project I'm working on.  Suddenly it has started taking hours to update my model.  I believe I have found the foundation of a fix.

After profiling my server while updating the model, I found it's the query that pulls the schema info that is causing problem.  It's running for about 5 hours in my case.  I focused in on

[2017-05-01 18:32] ajcvickers commented on #253
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2017-05-01 18:32] #253 closed

[2017-05-01 18:38] ajcvickers commented on #258
Closing this as a dupe of #96. @dschuermans Please let us know if we missed something that is not covered by #96.

[2017-05-01 18:38] #258 closed

[2017-05-01 18:39] ajcvickers commented on #96
@divega to investigate workaround.

[2017-05-01 19:05] ajcvickers commented on #260
@mapsupetran Would it be possible to post the code of the migrations that are causing this to happen? That way we can attempt to reproduce and fix the issue.

[2017-05-02 04:27] mapsupetran commented on #260
@ajcvickers, the migrations worked before we refactored our code. It looks like the error is caused by how the application is structured, but we couldn't determine where specifically.

[2017-05-02 14:28] sschoeb opened #261 "InvalidOperationException: The property 'xxx' is part of the object's key information and cannot be modified. On Navigation Property change with Composite Key"
Looks like the following issue is not entirely resolved:
http://entityframework.codeplex.com/workitem/2628

When using Identity-Columns with a composite key, the newest version of EF (6.2.0-beta2-6050)  does throw the exception:
The property 'TenantId' is part of the object's key information and cannot be modified.

Sample code that is expected to work:
[code]

Here is an updated repo to reproduce

[2017-05-02 23:07] lajones commented on #243
We looked into several ways of fixing this. In the end we updated the designer so that if it encounters a nullable primary key column from the DB it will generate **non**-nullable properties (both S- and C-side) in the model. Reverse engineering issues a warning that it is doing that and also that any nulls that do exist in those columns may cause problems. We are planning to release this in the 6

[2017-05-02 23:07] #243 closed

[2017-05-03 06:28] stephanebo21 commented on #243
@lajones Thanks for your work and all your team.
Great Product

Good job.
Stéphane

[2017-05-03 09:58] kev160967 commented on #254
Understood Arthur. In our case though it does unfortunately mean we have to remain with ObjectContext. Alternatives would be to either make knowledge of the repository available in places where it is currently hidden, or to remove all exposed foreign key fields from the model. Neither of these are an option, so we're stuck.

One final thought - are there any hooks in place for intercepting this be

[2017-05-03 20:41] lajones commented on #225
Blocked awaiting input from NuGet on how they search for the registry key we install.

[2017-05-04 05:12] amccool opened #263 "Unable to use DbConfigurationTypeAttribute if DBConfiguration is loaded into the appdomain"
I have a simple case where I wish to setup a DBContext to use a particular DbConfiguration using the attribute on the DbContext rather than via the app.config

However even though there are no other usages of EF in a project I continue to get

`System.InvalidOperationException: The default DbConfiguration instance was used by the Entity Framework before the 'KeyValueDbConfiguration' type was disco

[2017-05-04 07:40] WillemdeKok commented on #89
I also encountered this issue, as soon as i add the JsonIgnore annotation my ForeignKey annotation is ignored. I added the JsonIgnore tag on the model that the foreign key belongs to, that provided a workaround.

[code]

[code]

[2017-05-04 20:15] bricelam commented on #198
Some progress in branch [fix198](https://github.com/aspnet/EntityFramework6/compare/fix198)

[2017-05-07 20:32] ajcvickers commented on #260
**EF Team Triage:** This issue is not something that our team is planning to address in the EF6.x code base.  This does not mean that we would not consider a community contribution to address this issue.

Moving forwards, our team will be fixing bugs, implementing small improvements, and accepting community contributions to the EF6.x code base. Larger feature work and innovation will happen in the

[2017-05-07 20:32] #260 closed

[2017-05-07 20:34] ajcvickers commented on #261
@sschoeb That issue is listed as fixed in 6.2, but we have not released 6.2 yet. We are planning to release a beta _very soon now_. Once the beta is out, it would be great if you could test with it and check that the issue you are seeing is fixed.

[2017-05-07 20:37] sschoeb commented on #261
You are right. Does that mean, that the current nigthly (which is used in
the repo I provided) does not yet include the fix?

If it does, it is not fixed, as the repo clearly reproduces the issue.

Arthur Vickers <notifications@github.com> schrieb am So., 7. Mai 2017,
22:34:

[2017-05-07 20:39] ajcvickers commented on #261
@sschoeb We will look into it again. Didn't realize you were using a nightly build.

[2017-05-08 02:26] PhuongLe opened #265 "[Always encrypted] Including collection in query results does not work with encrypted columns vs Null"
We have an include collection query as following
`context.Table1.Include("Table2")`
in which there are some encrypted columns on Table2.

I got an exception as following
[code]

### Steps to reproduce
There are 2 tables named Table1 and Table2. In which, Table2 has some encrypted columns
On client app, I want to union 2 tables together and it used to work without any encrypted columns. However, af

[2017-05-08 03:54] sam-wheat opened #266 ""...if any entities in the graph have conflicting key values.""
There are many questions of this nature on Stackoverflow but I can find none that answer my question.

I do not understand why I am getting the "Attaching an entity of type... failed" error message.  As shown in the example code below I am creating a new instance of my context when my entities are retrieved - and another new instance and when they are saved.

Also, for debugging purposes I am coun

[2017-05-08 17:27] MikeYeager commented on #4
It appears the Connect issue for the SQL Server team has never been addressed. I up-voted it, but I'm not expecting much. **I would suggest that the EF team re-open this issue since I believe they can now fix it** (as of SQL Server 2016 SP1) with the new query hint OPTION (USE HINT('FORCE_LEGACY_CARDINALITY_ESTIMATION')).

[2017-05-09 02:22] ajcvickers commented on #266
@sam-wheat Can you provide a complete code listing or project that reproduces what you are seeing? There is not enough info in the code posted above to get a good idea of what is going on. For example, when you do `db.Entity.Attach(e);`, what is `db`?

[2017-05-09 02:39] ajcvickers commented on #4
Re-opening so we can discuss this.

[2017-05-09 03:08] divega commented on #4
@MikeYeager do you happen to repro this with recent builds of SQL Server that we can share with the query optimizer team?

FWIW, in the past we tried to address this with a QUERYTRACEON option that had similar effects. The advantage of them was that previous versions of SQL Server that did not understand the option passed just ignored the option, but the disadvantage was that it required specific

[2017-05-09 05:49] narendrasinghrathore opened #269 "Access different types of database using the same entity model?"
_1_. **How can one use one entity model to connect multiple database provider like mssql, mysql,oracle ,mongodb etc**.
_2_. **Also what if we don't have entity defined in our model, is it still possible to perform CRUD operations on database table**.
Found this on internet but not helpful ( **references** ).

`https://www.codeproject.com/Articles/82017/Preparing-an-Entity-Framework-model-for-multi

[2017-05-09 09:45] jrachama opened #270 "During DbDatabaseExist call, the AssociationSet do not have correct details; if Fluent APIs or Data Annotations are used to modify the Table Name participating in the ForeignKey relationship. The AssociationSet still preserves the old name defined in the"
We are third party EF provider and we are seeing an issue with CreateIfNotExist. With this call our provider generates a query to look for database objects like tables, keys e.t.c for the Context.
And if in model table name is modified using dataannotations or fluent api we see an issue in foreign key names.

Foreign Key name is dependent on table name and foreign key columns. In DbDatabaseExists

[2017-05-09 14:04] MikeYeager commented on #4
@divega Diego, I have many databases I can reproduce this on, however they all belong to clients. I'm sure I could create just about any database and encounter this problem. It seems to be an issue on every single one I have, but I have not spent any time doing that.

I have tried running this hint against SQL Server 2014 databases (compatibility level 120) and 2012 databases (compatibility level

[2017-05-09 16:28] lajones commented on #152
Note from #264 and commit 4fe5c3c. Had to update the build to only work on VS2017. This is required so that the build will generate manifest.json and catalog.json within the resulting VSIX which are required for the VSIX to install on VS2017 and are ignored on VS2015 & VS2012 so it will install and run on those too.

[2017-05-09 16:30] bricelam commented on #269
Have you tried asking on [StackOverflow.com](http://stackoverflow.com/)? The community is typically very responsive and helpful when it comes to questions about how to use Entity Framework.

[2017-05-09 16:46] ErikEJ commented on #152
@lajones "Had to" -  This is actually not required, unless you are unable/unwilling to build with msbuild14.

[2017-05-09 20:59] sam-wheat commented on #266
@ajcvickers Thank you - I think I solved it:
child is an instance of an entity of type Child.  I was adding a different instance of Child to the Children collection of child's parent object.
So the entity did not already exist in the graph when I started - the problem was that I was trying to add two different objects with the same ID.

[code]
Incorrect code above will cause this error:
Attaching

[2017-05-09 21:00] #266 closed

[2017-05-09 21:01] divega commented on #4
Thanks @MikeYeager that sounds promising.

On the other hand, since you can currently repro the issue with several database, would you be able to try the workarounds described here? https://support.microsoft.com/en-us/help/3189675/join-containment-assumption-in-the-new-cardinality-estimator-degrades-query-performance-in-sql-server-2014-and-later.

The SQL Server team believes they may have been ab

[2017-05-10 06:46] narendrasinghrathore commented on #269
Had tried earlier no success on stackoverflow.

Let me know if there is better solution to implement this using other than
entityframework

Thanks

On 9 May 2017 22:00, "Brice Lambson" <notifications@github.com> wrote:

[2017-05-10 20:27] badre429 opened #271 "Make Entityframework 6 target .NET Standard and/or work with .NET Core"
On the build 2017 event @coolcsh(Scott hunter)  said that 70% in nuget library compatible with dotnet standard 2.0 is EF6 will support it.

[2017-05-11 01:40] weitzhandler commented on #231
I'm also having this issue in EF 6.1.3 in a WebAPI + Xamarin PCL.
Unable to execute `PM> Enable-Migrations -ProjectName MyWebAPI`.

I get the following exception:

PM> enable-migrations -projectname mywebapiprojectname
Exception calling "SetData" with "2" argument(s): "Type 'Microsoft.VisualStudio.ProjectSystem.VS.Implementation.Package.Automation.OAProject' in assembly
'Microsoft.VisualStudio.Pro

[2017-05-11 01:46] weitzhandler commented on #156
YEAH me too.
Please ensure migrations work on VS 2017 for standalone WebAPI projects!

[2017-05-12 01:44] divega commented on #271
@badre429 I will be repurposing your question to track the ongoing investigation.

[2017-05-12 12:24] jrkd commented on #271
"I would like to encourage anyone wanting this to happen to comment in the issue pointed above with their specific reasons. This will help us prioritize." - -divega

Please, this would help me convert existing projects using EF6 to .net core.

[2017-05-12 14:25] douglaswaights commented on #271
We are running asp.net core on the full framework in 1.x and also plan to do this for the upcoming asp.net core 2.0 release. The reason for this is primarily we need EF6 for spatial. Maybe there are other blockers but spatial is the obvious one.

Would be great to run on .net core if we could, so modifying EF6 to work against net standard 2.x could be an interim solution until EF Core is ready ! :

[2017-05-12 21:34] kosinsky opened #272 "Unnecessary join when filtering and selecting from/by optional related entity"
For model with two entities Product and Category, Product has optional category property. When I’m trying to select products by Category and select properties of the Category. In generated SQL Category tables will be joined twice: one with inner for filtering  and second with outer for select.

  public class Northwind : DbContext
    {

        public Northwind()
            : base("name=Northwin

[2017-05-15 17:27] ajcvickers commented on #265
@PhuongLe It looks like you are hitting at least one of the known issues using Always Encrypted with EF6. See https://blogs.msdn.microsoft.com/sqlsecurity/2015/08/27/using-always-encrypted-with-entity-framework-6/ for more information. Without a project or full code to reproduce the issue it is hard to determine exactly which of the issues you are hitting, so closing this as no-repro.

[2017-05-15 17:27] #265 closed

[2017-05-15 17:31] ajcvickers commented on #270
@jrachama Can you use EDMXWriter class to generate the EDMX from your Code First model and post it here with reference to the elements that don't have the data you expect?

[2017-05-15 18:36] ajcvickers commented on #272
**EF Team Triage:** This issue is not something that our team is planning to address in the EF6.x code base.  This does not mean that we would not consider a community contribution to address this issue.

Moving forwards, our team will be fixing bugs, implementing small improvements, and accepting community contributions to the EF6.x code base. Larger feature work and innovation will happen in the

[2017-05-15 18:36] #272 closed

[2017-05-15 19:26] divega opened #274 "Fluent API to define indexes"
From the PR that addressed this (https://github.com/aspnet/EntityFramework6/pull/46):

Resolves [#1969](https://entityframework.codeplex.com/workitem/1969) and [#2163](https://entityframework.codeplex.com/workitem/2163), which requests a first-class fluent API for database indexes and the ability to configure the primary key index.

This changeset resolves these two requests by:
1. Adding a HasInd

[2017-05-15 19:48] divega commented on #115
Dupe of #241.

[2017-05-15 20:41] divega commented on #109
Dupe of #243.

[2017-05-15 20:44] #274 closed

[2017-05-15 20:47] divega commented on #37
Closing as duplicate of #247 since the work didn't finished with this issue being closed.

[2017-05-15 22:07] divega opened #275 "Reduce start up time by loading finished Code First models from a persistent cache"
(Copied description from PR https://github.com/aspnet/EntityFramework6/pull/40)

Ported from [CodePlex Pull Request 8468](http://entityframework.codeplex.com/SourceControl/network/forks/jEdge/CodeFirstCache/contribution/8468)
Fix for CodePlex Work Items [#1876](http://entityframework.codeplex.com/workitem/1876) and [#2631](http://entityframework.codeplex.com/workitem/2631)
Reduce start up time by

[2017-05-15 22:07] #275 closed

[2017-05-15 22:10] divega commented on #275
Fixed with @j-Edge contribution at https://github.com/aspnet/EntityFramework6/pull/40.

[2017-05-15 22:17] divega opened #276 "Two remaining PRs in CodePlex"
When we did the whole move to GitHub we left two PRs unreview in CodePlex:

- [Comparison Null Semantics](http://entityframework.codeplex.com/SourceControl/network/forks/BrandonDahler/EntityFramework/contribution/7893)
- [TruncateTime performance enhancement](http://entityframework.codeplex.com/SourceControl/network/forks/BrandonDahler/EntityFramework/contribution/7750)

For each of them we should

[2017-05-16 01:34] ajcvickers commented on #269
@narendrasinghrathore Please try to be more specific about the questions you are asking. I'll try to give you some general answers as best I can with what you asked. For your first question, the approach to take depends on whether you are using the Code First or Database First approaches. (Check out the [documentation](https://msdn.microsoft.com/en-us/library/aa937723(v=vs.113).aspx) for more info

[2017-05-16 01:34] #269 closed

[2017-05-16 05:29] narendrasinghrathore commented on #269
@ajcvickers I am using code first , By passing connection strings (_**which are stored in web.config**_ )  name to dbcontext  , i am able to connect to mssql or mysql. But generating connection string dynamically doesn't seems to work, as ef dbcontext take mssql connector as defaultConnectionFactory. How i change the providerName. Generating connection string using EntityConnectionStringBuilder is

[2017-05-17 04:17] redwyre commented on #9
Is there a work around for this? I tried copy this code into my project, but it uses internal types.

[2017-05-17 08:25] weitzhandler opened #277 "AspNetCore.Identity"
I'm unable to find the EntityFramework6 Identity repo on GitHub, could you please include a link in the main wiki?
Many users have implemented EF6 solutions for AspNetCore.Identity so Google doesn't find the original one anymore.

For many users using AspNetCore, EFCore isn't sufficient yet (for me: lack of `ComplexType`s and TPT), in the other hand, AspNetCore.Identity provides agnostic `IUserSto

[2017-05-17 08:37] ErikEJ commented on #277
There is no official support, see https://github.com/aspnet/Identity/issues/416

[2017-05-17 10:10] weitzhandler commented on #277
I see. Sucks.
There are a gazillion of repos. You never know which of them is reliable. Why can't they come up with an official one?? This mess is annoying. Thanks for your link tho.

[2017-05-17 10:10] #277 closed

[2017-05-17 10:27] ErikEJ commented on #277
@weitzhandler I guess it is a matter of resources and priority

[2017-05-17 10:35] weitzhandler commented on #277
They should at least recommend one officially. It's a total mess, and since it's a mess, and I didn't want to pollute my lib, I came up with [this](https://gist.github.com/weitzhandler/9f5871e82d201f45bbcd3d3ab29bafc8) tiny wrapper.
Would love to hear your comments.

[2017-05-17 13:47] CZEMacLeod opened #278 "nuget package project site contibute link is out of date"
When going to the project url for the existing nuget package it takes you to a Microsoft redirect page then to https://msdn.microsoft.com/en-us/library/aa937723(v=vs.113).aspx
This page has a contribute link and blub that mentions and takes you to the old codeplex website.
Now that the project is maintained on GitHub, this should be updated...
Interestingly the page updated date is listed as Octob

[2017-05-17 15:50] grimley517 opened #279 "Nuget package is not available for EntityFramework.SQLserver"
https://www.nuget.org/packages?q=EntityFramework.SqlServer

Hi there

The nuget package is not available on nuget .org.  Is there another repository I should be using?

[2017-05-17 16:08] ErikEJ commented on #279
The EF6 package for SQL Server is https://www.nuget.org/packages/EntityFramework/ - there is no seperate .SqlServer package

[2017-05-17 16:48] #279 closed

[2017-05-17 17:01] grimley517 commented on #279
Thanks.

Did I dream it, or didn't there used to be one?

Regards

Brian

[2017-05-17 17:05] ErikEJ commented on #279
Maybe during the EF Core preview/beta, yes

[2017-05-18 04:27] narendrasinghrathore commented on #269
@ajcvickers Any help my friend, for above comment and urls below ?
http://stackoverflow.com/questions/43993918/dynamic-connection-string-for-entity-framework-code-first-for-multiple-database

http://stackoverflow.com/questions/43998212/dynamically-change-update-setdefaultconnectionfactory-and-setproviderservices-en

[2017-05-21 03:06] narendrasinghrathore opened #280 "Dynamically change/update DefaultConnectionFactory and ProviderServices entity framework code first at runtime [EF6]"
Hi EF Team, please help on this issue.
@rowanmiller, @ajcvickers ,@maumar, @AndriySvyryd, @lajones, @bricelam, @lukewaters, @shanselman
I have to change **default connection factory runtime** using **code first** EF6.x
**Here is the code I tried, but it runs only on app startup though it doesn't change the default provider i.e System.Data.SqlClient**

[code]

Web config.

[code]

**Getting error:*

[2017-05-22 13:03] tlk commented on #275
What is the recommended way to get notified when this is released (6.2)?

[2017-05-22 13:08] ErikEJ commented on #275
@tlk Watch the repo ?

[2017-05-22 13:28] tlk commented on #275
@ErikEJ I would prefer to receive announcements only instead of project-wide chit-chat like this, but I'll watch the repo.

Looking very much forward to the improvement on startup time. Thanks!

[2017-05-22 13:42] ErikEJ commented on #275
@tlk Understand, this repo however is very quiet. Alternatively, subscribe to the .NET blog RSS feed.

[2017-05-22 16:51] ajcvickers commented on #280
@narendrasinghrathore Configuration in the config file overrides code-based configuration. Options that come to mind:
* Change the applications config file...
* If you can't do that, then create the DbConnection directly in code and pass it to the DbContext. You could use the EF connection factory to do this, or you could use DbProviderFactory/Factories, or you could just new up a DbConnection obj

[2017-05-22 18:37] ajcvickers commented on #270
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2017-05-22 18:37] #270 closed

[2017-05-22 18:39] ajcvickers commented on #276
@maumar to move these to GitHub and provide some feedback if needed.

[2017-05-22 18:41] #280 closed

[2017-05-22 21:38] divega opened #281 "Consider renaming DefaultDbModelStore to FileSystemDbModelStore or similar"
The new type is part of cached code first model in 6.2 (https://github.com/aspnet/EntityFramework6/issues/275). Two issues with the name:

1. It is not really used by default (you have to set it in your `DbConfiguration`).
2. It doesn't convey the fact that it is using the file system for storage, which is relevant, especially if the application have restricted permissions to most of the file syst

[2017-05-22 22:55] divega commented on #81
The same issue was fixed for other APIs in https://github.com/aspnet/EntityFramework6/commit/107283972666babbff10fb7409298f39200acb09.

[2017-05-23 05:13] divega opened #282 "Consider making the DbQuery.Sql property public"
The property was added as part of the fix for #73. Since it is private, in debugging windows it is necessary to expand 'Non-public members' before you can see it (this is in addition to having to click on the threads glyph which is also frequently necessary):

![image](https://cloud.githubusercontent.com/assets/1253414/26339285/ccd9f424-3f3b-11e7-98bc-948b8c01b2a6.png)

[2017-05-23 06:04] divega opened #283 "Revisit whether DbFunctions.Like() should be an extension method over string as it currently is"
Two overloads of `DbFunctions.Like()` were added as part of the fix for #241. They are extension methods over string rather than regular static methods.

I think this may have gone under the radar in API review. In the past we have avoided creating such methods as extension methods over common types because they can be very confusing when they show up outside of the context of LINQ queries. FWIW,

[2017-05-23 06:49] divega commented on #278
The EF6 documentation currently under https://msdn.microsoft.com/ will be moved to https://docs.microsoft.com. Until this happens we cannot update it easily. As a mitigation, I have pointed the project link to https://github.com/aspnet/EntityFramework6/wiki.

@CZEMacLeod let me know if you think this helps.

[2017-05-23 16:01] CZEMacLeod commented on #278
Sounds like a good intermediate step - especially once the main nuget.org package is updated.
Any ideas of when the docs will get moved and a 6.2.0 release done?

[2017-05-24 12:15] matthiasburger opened #284 "Generic entities"
In Entity Framework 7 (is it now called "Entity Framework Core"?!) we can have something like this:

    public class GenericEnt<TEntity>:IEntity where TEntity : IEntity
    {
        public int Id{get;set;}
        public TEntity Entity { get; set; }
    }

    public interface IGenericEnt<TEntity> where TEntity:IEntity
    {
        ICollection<GenericEnt<TEntity>> GenericEnts { get; set; }

[2017-05-24 19:05] ajcvickers commented on #284
**EF Team Triage:** This issue is not something that our team is planning to address in the EF6.x code base.  This does not mean that we would not consider a community contribution to address this issue.

Moving forwards, our team will be fixing bugs, implementing small improvements, and accepting community contributions to the EF6.x code base. Larger feature work and innovation will happen in the

[2017-05-24 19:05] #284 closed

[2017-05-24 22:00] rufio620 opened #286 "Visual Studio 2017 Package Manager Console Does not read app.config correctly for migrations"
I am running into an issue where I cannot run migrations from the visual studio package manager console. For some reason it cannot find my connection string entries in the dbmirations project app.config. This leads me to believe it is not reading the app.config correctly or reading it from the wrong location.

Executing the following command
update-database -ConnectionStringName "AdminDataContext"

[2017-05-25 06:19] narendrasinghrathore commented on #280
Thanks for replying.
 I find solution and will soon create a repo on github, maybe will help someone in need.

[2017-05-26 18:20] WillSullivan opened #287 "New-MigrationsRunner allows exceptions to cross AppDomain boundaries that are not serializable"
If the database seed method throws an exception when calling `update-database`, that exception is allowed to pass through the AppDomain to be caught and written to the host, [as can be seen here](https://github.com/aspnet/EntityFramework6/blob/527ae18fe23f7649712e9461de0c90ed67c3dca9/src/NuGet/EntityFramework/tools/EntityFramework.psm1#L598).

The problem is that sometimes these exceptions aren't

[2017-05-26 18:56] ajcvickers commented on #287
@WillSullivan We believe this is fixed in the 6.2 beta that was just released to NuGet. Can you try with that package and see if the issue is fixed for you?

[2017-05-26 18:58] ajcvickers commented on #286
@rufio620 Check that the Startup project is set correctly in Visual Studio, or you can specify it on the command line. This is the project from which config will be read.

[2017-05-26 18:59] WillSullivan commented on #287
Unfortunately, not in a timely manner, no.  It would be quicker to throw together a repro than get the codebase I'm working on updated with the beta.  I'll report back if I do try it out.

[2017-05-27 20:01] chrysikos opened #288 "Generate Migrations"
Can I generate migrations "Enable-Migrations" and "Add-Migration" wihtout Visual Studio Package Manager Console?

[2017-05-28 10:03] ErikEJ commented on #288
No, but you can apply them using migrate.exe https://msdn.microsoft.com/en-us/library/jj618307(v=vs.113).aspx - what is your scenario?

[2017-05-28 11:41] chrysikos commented on #288
We have developed a power tool from which we perform some operations related to EF and generating templates. So I want to integrate Enable-Migrations and Add-Migration into that tool for many reason. The most important is, it will be easier for my developers just to press a button than remember to run these commands.

[2017-05-29 09:52] daliusd opened #289 "datetime2 precision"
When I create entries using EF6 (6.1.3) having "datetime2(7)" columns then entries are created properly using 7 digits precision. Quering (Selects) using EF6 meanwhile always treat DateTime type as datetime (not as datetime2) and precision drops to 3 digits precision. In result if I have entry with value "2017-05-29T10:10:10.1234567" and try to select something like "datetime2column > dateTimeVar"

[2017-05-29 18:16] rufio620 commented on #286
Ahh just realized that. I guess previously I had multiple startup projects so it used the default project setting. Thanks for pointing that out.

[2017-05-29 18:16] #286 closed

[2017-05-29 18:34] tlk commented on #286
Perhaps it could reveal the file path to the app.config being used/expected in this scenario, e.g.
``
No connection string named 'FooDbContext' could be found in the application config file 'C:\Foo\bar\app.config'
``

Also, is it necessary to dump a stack trace along with the System.InvalidOperationException? It makes the tool look like it is still in beta and the noise confuses people.

[2017-05-31 05:38] julianhu1979 opened #290 "powertools build error."
I am using vs2017 to build the lastest soruce code of powertools. There are some dependenced libraries missed. such as 1)Microsoft Development Environment 8.0 (Version 7.0 Object Model),
                          2)Microsoft Development Environment 8.0,
                          3)Microsoft.VisualStudio.ComponentModelHost,
                          4)Microsoft.VisualStudio.Shell.11.0,

[2017-05-31 16:02] ajcvickers opened #291 "Migration scaffolding does not work correctly when [Remote] is used in a property"
Reported on https://developercommunity.visualstudio.com/content/problem/26532/migration-scaffolding-with-remoteattribute.html

We should test this.

[2017-05-31 16:23] RealDotNetDave opened #292 "Migrations not working due to not being able to load assembly"
If I try to Enable or Add Migrations in my solution I get the error below. I re-created both the models project and DB context project and it still happens.

Checking if the context targets an existing database...
System.IO.FileNotFoundException: Could not load file or assembly 'GallusGolf.Api.DataModels, Version=2017.5.26.16197, Culture=en-US, PublicKeyToken=null' or one of its dependencies. The

[2017-05-31 16:30] RealDotNetDave commented on #292
I figured out the issue. If I remove the [assembly: AssemblyCulture("en-US")] attribute from my models project then everything works fine. This must be a bug in EF.

[2017-06-01 13:31] Backs opened #294 "Distinct for IEnumerable"
I have found strange behavior with Distinct inside Where statement:

    public class DistinctTests : FunctionalTestBase
    {
        [Fact]
        public void Test()
        {
            using (var ctx = new DistinctTestContext())
            {
                var array = new[] { 1, 2, 1 };

                var query = ctx.Numerics.Where(s => array.Distinct().Contains(s.Id));
                C

[2017-06-01 15:58] CZEMacLeod commented on #294
It also appears that it only returns entities with the ID =1 not 1 or 2.
The inner query
[code]
Returns 2 records both with C1 = 1
[code]
Gives the correct output - I don't understand what the 1 as x as singlerowtable bit is about?
Maybe the optimizers make it irrelevant, but the SQL seems much more complicated that it needs to be.
Also wouldn't
[code]
make more sense?

Personally I avoid this by

[2017-06-02 02:33] Backs commented on #294
No, result is correct, it will return data for 1 or 2. But SQL is too complicated.

[2017-06-02 13:06] CZEMacLeod commented on #294
Ah - yes. Re-read the query. It works because it is in the WHERE EXISTS bit and the 1 is used as the detection not the value. But the SQL is way too complicated.

[2017-06-02 22:11] davidliang2008 opened #295 "ProviderManifestToken uses version from SQL server instead of from database"
Issue: code developed on a SQL 2005 database using DATETIME will result in errors of
`The version of SQL server in use does not support datatype 'datetime2'`

See [https://stackoverflow.com/questions/316422/using-sql-server-2008-and-sql-server-2005-and-date-time](https://stackoverflow.com/questions/316422/using-sql-server-2008-and-sql-server-2005-and-date-time).

The issue is that Entity Framework

[2017-06-05 18:51] #287 closed

[2017-06-05 18:55] ajcvickers commented on #294
**EF Team Triage:** This issue is not something that our team is planning to address in the EF6.x code base.  This does not mean that we would not consider a community contribution to address this issue.

Moving forwards, our team will be fixing bugs, implementing small improvements, and accepting community contributions to the EF6.x code base. Larger feature work and innovation will happen in the

[2017-06-05 18:55] #294 closed

[2017-06-05 22:46] ajcvickers opened #296 "`Index out of range` Exception Raises its Head Again"
Original issue: https://github.com/aspnet/EntityFramework/issues/8694 by @jasel-lewis

I have an abstract base class `Segment` from which `FooSegment` and `BarSegment` inherit. With no special inheritance configuration, Entity Framework creates three tables in my database: Segment, FooSegment and BarSegment.

I prefer to use to use **Type-per-Concrete-Class** (TPC) inheritance, however, as I need

[2017-06-06 15:57] vknez opened #297 "Generated script has a MigrationHistory entry added as part of stored procedure, instead of its creation script"
I am trying to use the `AlterStoredProcedure` function in a migration's `Up` method. When I use the `Update-Database` command, it works correctly. However, when I generate a script for updating the database manually, via the `-Script` switch, the generated SQL script (containing only the last migration) creates a stored procedure which inserts an entry into __MigrationHistory table on every execut

[2017-06-06 16:13] ErikEJ commented on #297
Add the GO manually??

[2017-06-06 16:17] vknez commented on #297
@ErikEJ, that's fine once, but it wouldn't be very safe to have to remember that for every stored procedure and every run of the script generation tool.

[2017-06-07 06:35] divega opened #298 "Commit time outs in Entity Framework."
_From @nagarjunacspeaks on June 7, 2017 4:38_

Question was posted in Stackoverflow but suggestions were not much of help.

https://stackoverflow.com/questions/44170804/commit-failure-error

Please go thru the above and I am just pasting my comment from there.

Please don't provide band aid fixes like increasing default timeout etc. as would like to know root cause of the problem.

It is code firs

[2017-06-07 12:41] jrachama commented on #270
We have generated the EDMX file from the code first application using EDMXWriter class , the model contain the relationship and annotation to change the table name so the generated edmx file should contain the Association name with the new table name but still it referring the old name only. For more detail information please refer below the details and attachment.

1.Model contain the one to many

[2017-06-09 00:52] davkean commented on #231
This is https://github.com/dotnet/project-system/issues/934.

[2017-06-09 12:00] StarpTech opened #299 "Using multiple db contexts with SQlite in-memory tests results in wrong result"
I use Sqlite in-memory database to write tests for my application as described here and in the docs https://github.com/aspnet/EntityFramework.Docs/blob/master/samples/core/Miscellaneous/Testing/TestProject/SQLite/BlogServiceTests.cs

But my tests fails often when I open for every section a new database context with
[code]
when I collapse the propertys manually in the debug mode the data appears su

[2017-06-09 12:14] StarpTech commented on #299
In this variation the data is present in the second db context. I hope it helps.

[code]

[2017-06-10 11:33] phatcher commented on #263
@amccool I'll think you find that DbConfiguration behaviour is global e.g. I had a project recently with two DbContexts using separate DbConfiguration types, when I attempt to create the context, the second one would complain about the other DbConfiguration.

[2017-06-10 19:44] amccool commented on #263
going from memory here.   I believe I figured this out.    I was not using the 'correct' constructor for the dbcontext.
`public KeyValueDbContext(DbConnection dbConnection, bool contextOwnsConnection)
            : base(dbConnection, contextOwnsConnection) { }`

once I switched to this constructor things where loading 'better'.   As it were, the documentation is good, but like WCF, its tough to co

[2017-06-10 19:44] #263 closed

[2017-06-12 19:04] ajcvickers commented on #289
**EF Team Triage:** This issue is lacking enough information for us to be able to effectively triage it. In particular, it is missing the following information requested in the new issue template. Can you please provide this information?

Ideally include a complete code listing that we can run to reproduce the issue.
Alternatively, you can provide a project/solution that we can run.

BTW we're not

[2017-06-12 19:05] ajcvickers commented on #290
@lajones Can you provide any help/info here?

[2017-06-12 19:37] ajcvickers commented on #295
**EF Team Triage:** This issue is not something that our team is planning to address in the EF6.x code base.  This does not mean that we would not consider a community contribution to address this issue.

Note that you can manually edit the manifest token in the EDMX file (for Database First) or use something like https://msdn.microsoft.com/en-us/library/system.data.entity.dbconfiguration.setmanif

[2017-06-12 19:37] #295 closed

[2017-06-12 19:39] ajcvickers commented on #299
@StarpTech This looks like an issue that was fixed in EF Core 1.1.2. If you are already using 1.1.2 (or a pre-release of 2.0.0) then please open an issue on https://github.com/aspnet/EntityFramework. (This github repo is for EF6 issues.)

[2017-06-12 19:39] #299 closed

[2017-06-12 21:57] lajones commented on #290
@julianhu1979 @ajcvickers For those errors, I would echo @ErikEJ's comment above. It looks like you're missing the VS Extension Development workload. See the selected workload in the VS Installer below.
![170612_vsextensiondevelopmentworkload](https://user-images.githubusercontent.com/1915927/27056792-6d7fe102-4f7e-11e7-9323-cc575f26f589.JPG)

Note: I tried this out myself. With the latest release

[2017-06-12 22:23] bricelam commented on #288
See my answer on Stack Overflow to [Enable Entity Framework migrations in Mono](https://stackoverflow.com/a/20382226/475031)

[2017-06-12 22:24] #288 closed

[2017-06-13 06:28] daliusd commented on #289
I have tried to write program that reproduces this issue but it works as intended. I am closing this issue for now until I will find out what's different in my case.

[2017-06-14 20:09] divega commented on #4
I just tried appending OPTION (MERGE JOIN) on one of these queries and it seems to help.

@MikeYeager @tranceporter @ErikEJ @lukeatron could you confirm?

[2017-06-15 14:12] Fryhard commented on #156
To the issue that @lincolnzocateli reported, the problem seems to related to the lack of a StartupProject.

In VS 2015 you were able to specify the Default Project on the Package Manager Console and VS would default to that project after showing a warning.

It seems that this is broken in VS 2017 and the user will receive an error with message:
Exception calling "SetData" with "2" argument(s): "Ty

[2017-06-15 19:21] divega opened #301 "Ignore __EFMigrationsHistory in schema discovery"
Like we already do for EF6 tables, e.g.:

[code]

[2017-06-15 22:46] divega opened #302 "Idea: componentized designer wizard"
Currently when you choose to add an "ADO.NET Entity Data Model" to a project we offer a fixed set of options:

![image](https://user-images.githubusercontent.com/1253414/27255659-af446270-5357-11e7-814a-86a8063bc271.png)

Considering:

- recent feedback indicating that some customers used to EF6 don't know how to start using EF Core
- the existence of third party utilities that allow creating EF m

[2017-06-16 05:22] ErikEJ commented on #302
@sjh37 !

[2017-06-16 20:30] chrisg32 commented on #244
The redirect workaround works. Thank you.

Here is an example for anyone who might need it.
[code]

[2017-06-16 22:40] divega commented on #4
These results show total elapsed seconds against WideWorldImporters with SQL Server 2016 SP1 on my box.

| Option	| First row	| Last row (#589)|
|-|-|-|
|Original query	|21|256|
|`OPTION (MERGE JOIN)`|0|0|
|`OPTION (USE HINT('FORCE_LEGACY_CARDINALITY_ESTIMATION'))`|0|0|
|`OPTION (USE HINT('ASSUME_JOIN_PREDICATE_DEPENDS_ON_FILTERS'))`|0|7|

We should test with older versions of SQL Server to verify

[2017-06-17 17:57] weitzhandler commented on #156
I can't understand why it has to be dependent in a start up proj

[2017-06-17 21:24] MikeYeager commented on #4
Nice!  That looks like a winner!

[2017-06-18 09:45] divega commented on #301
Consider sysdiagrams as well: https://data.uservoice.com/admin/forums/72025-entity-framework-core-feature-suggestions/suggestions/2390350-remove-sysdiagrams-from-tables-in-update-model-fro.

[2017-06-18 12:54] xperiandri commented on #302
Could you create a new wizard in WPF by reusing some available options? This Windows Forms dialog is extremely outdated.

[2017-06-18 17:22] divega commented on #302
@xperiandri we would consider that if there is a lot of value in it, otherwise we will go with minimal changes. Could you explain what the advantages would be?

[2017-06-19 09:02] sjh37 commented on #4
In the [EF reverse poco generator](https://github.com/sjh37/EntityFramework-Reverse-POCO-Code-First-Generator) I have a flag which users can set to true:
[code]

This appends the following SQL to the queries to obtain the tables/columns/views:
[code]

You should also take a look at the [SQL I have in this generator](https://github.com/sjh37/EntityFramework-Reverse-POCO-Code-First-Generator/blob/ma

[2017-06-19 09:14] tranceporter commented on #4
@divega Here is the thread where we discussed and tried a fair number of options including MERGE JOIN. The optimised query Simon pointed to above, was derived from the this discussion.

https://github.com/sjh37/EntityFramework-Reverse-POCO-Code-First-Generator/issues/262#issuecomment-298693275

[2017-06-19 14:55] divega commented on #4
@tranceporter @sjh37 like @ErikEJ said, I have seen that thread (Erik pointed me to it in a tweet) and I noticed that you have handcrafted a query for the reverse POCO generator, which is great. What I am trying to solve here, is how to workaround the SQL Server performance regression with __minimal changes__ to our current schema discovery queries. We actually attempted this long time ago with `Q

[2017-06-20 08:26] romil-zealous opened #303 "DbContext with Async queries"
Hello,

EF: 6.1.3

When I use any async methods such as .ToListAsync(), .FirstOrDefaultAsync() etc, my query execution freezes and it never returns anything. If I use synchronous methods such ash .ToList() on same DbContext, then I get the results which is expected.
I am not able to understand what is the issue with async methods. Please help.

Regards,
Romil

[2017-06-20 09:27] sjh37 commented on #303
Are you using the **await** keyword?

[code]

[2017-06-20 11:27] romil-zealous commented on #303
Yes ! I am using async and await both the keywords. But not sure why the execution stuck while calling .ToListAsync() method.

I am using Unit Of Work + Repository Pattern where my dbContext is shared to all repositories from UoW.

[2017-06-20 14:45] sjh37 commented on #303
Is there a LOT of data to come back?
i.e. how long do you think it should take?
Is there a missing index on the database which would speed up the query?

Try adding .Take(1), to see if it returns 1 row of data quickly.

[2017-06-20 15:05] sjh37 commented on #303
Is your project using .Net Framework 4.5 or later?
Async was only introduced in 4.5 onwards.

[2017-06-20 20:39] jnm2 commented on #303
@romil-zealous does yout execution get stuck the same way if you replace the awaiting statement with this?

[code]

[2017-06-21 04:12] romil-zealous commented on #303
@sjh37 I am using .NET Framework 4.6.2

[2017-06-21 16:15] ajcvickers commented on #303
**EF Team Triage:** This issue is lacking enough information for us to be able to effectively triage it. In particular, it is missing the following information requested in the new issue template. Can you please provide this information?

Ideally include a complete code listing that we can run to reproduce the issue.
Alternatively, you can provide a project/solution that we can run.

BTW we're not

[2017-06-22 17:44] maximecaron opened #304 "Memory leak while doing Batch insert."
I am using Entity Framework Code-First and doing insert of batch of Object creating a new context for each batch.
Very quickly the process memory usage go over 25GB and become unstable.

Looking and the object heap from a dump file show the result below:

![image](https://user-images.githubusercontent.com/1174484/27447919-a6a560ea-5737-11e7-8bba-1bedeeed51e6.png)

[code]

[2017-06-23 11:34] WouterVanmulken opened #305 "No annotations being generated when a AttributeToTableAnnotationConvention is defined on a Complex type"
I made a custom Attribute and made a mapping to give it a annotation in the migrations. When the attribute is set on a class that is in the Dbcontext, it works.

But when it's a child of a object in dbcontext, the fields of the child completely ignore the attribute and get added individually as fields in the parent. This means that the attribute gets lost.

Example :

[code]
Will generate

[code]

[2017-06-23 18:37] ajcvickers commented on #304
**EF Team Triage:** This issue is lacking enough information for us to be able to effectively triage it. In particular, it is missing the following information requested in the new issue template. Can you please provide this information?

Ideally include a complete code listing that we can run to reproduce the issue.
Alternatively, you can provide a project/solution that we can run.

BTW we're not

[2017-06-23 18:38] ajcvickers commented on #305
**EF Team Triage:** This issue is lacking enough information for us to be able to effectively triage it. In particular, it is missing the following information requested in the new issue template. Can you please provide this information?

Ideally include a complete code listing that we can run to reproduce the issue.
Alternatively, you can provide a project/solution that we can run.

BTW we're not

[2017-06-23 20:16] CZEMacLeod commented on #305
Just my 2p but your Class Test is _not_ a Table, but a Complex Type so the annotation would not be on the table, but on a 'group' of fields.
You could just as easily have
[code]
which would result in 2 testfields. And if you have multiple fields in the Test class, where would it put your annotations?

[2017-06-23 21:29] WouterVanmulken commented on #305
I made a project to reproduce the issue, [here](https://github.com/WouterVanmulken/Example-project-Ef-annotations) .

To reproduce :

-  Remove the "migrations/201706232042423_test.cs" class. (this is a example of what happens)
- Change the connectionString in the App,config to your prefered database.
- Run "update-database"
- Run "add-migration test"

This will result in the following migration :

[2017-06-24 00:30] jbagga opened #306 "Consider replacing GetTempFileName with GetTempPath and GetRandomFileName"
Consider removing uses of `GetTempFileName` as

P0:

- DbContextPackage
- updatefromdatabaseengine

P1:

- ConfigurationFileUpdater
- FileUtils
- IOHelper
- ProjectExtensions
- AppConfigureReaderTests
- CodeFirstModelGeneratorTests
- ConfigurationFileUpdaterTests
- ConnectionFactoryConfigTests
- DatabaseLoggerTests
- EdmUtilsTests
- EdxmUtilityTests
- EntityFrameworkSectionTests
- TestBase

See as

[2017-06-24 00:33] smitpatel commented on #306
Why this is in EF6 repo? Coherence-Signed doesn't even build EF6

[2017-06-24 00:35] jbagga commented on #306
The issue just has more details. The issue is about the instances of `GetTempFileName` across aspnet

[2017-06-25 10:53] CADbloke commented on #303
@romil-zealous does this help?: https://stackoverflow.com/a/22017717/492

[2017-06-26 15:47] WouterVanmulken commented on #305
Another option would be to make a `AttributeToComplexTypeAnnotationConvention` which would result in adding a annotations to all fields. That way the normal AttributeToTableAnnotationConvention doesn't have to be changed and there would still be the option for thos who want it to keep the attributedata.

[2017-06-26 18:22] ajcvickers commented on #306
We don't believe this should be done for EF6. There is no Linux support anyway, and the new replacement code does not seem to be as robust/good as the original code.

[2017-06-27 11:16] jonnybee opened #307 "EF 6.1.3 and Azure Security SqlInjection warning"
We are using EF 6.1.3 with a Code First model and we get a few Microsoft Azure SQL database security warnings concerning SqlInjection. I cannot get my head around how the Update SQL generated by EF can generate a SQL that is direct SQL like:

    update [table] set field = 'multi line value string' where [Id] = 123

Which is what gets reported from the security tool. The common denominator is that

[2017-06-27 14:30] NicoJuicy commented on #275
How would i set this on DbMigrationsConfiguration(Of DataContext)?

[2017-06-30 16:14] ajcvickers commented on #303
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2017-06-30 16:14] #303 closed

[2017-06-30 16:14] ajcvickers commented on #304
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2017-06-30 16:14] #304 closed

[2017-07-01 04:31] icnocop opened #308 "If an entity MyEntity has a property called MyProp, I cannot create an entity called MyEntity_MyProp. How do I fix that?"
Copied from https://github.com/aspnet/EntityFramework/issues/1979.

I'm using Entity Framework 6, with POCO and fluent-API and I've noticed an annoying bug.

If I have an entity called `MyEntity` and this entity has a property called `MyProp`, that makes it impossible to create an entity called `MyEntity_MyProp`.

Exception:
[code]
The error immediately goes away if I rename any of the entities, o

[2017-07-02 05:08] DominikErnst opened #309 "Please support INotifyPropertyChanged."
It would be nice to have an Option in Model-Properties, to enable the support of INotifyPropertyChanged.

Here is my Workaround: "MedIQNetDataModel.Context.tt".
[code]

[2017-07-05 13:49] michalczerwinski commented on #275
I have a question: is the DefaultDbModelStore suppose to be set as default in 6.2?

[2017-07-05 18:56] ajcvickers commented on #308
@icnocop Does database first with EF6 still work correctly?

[2017-07-05 19:48] icnocop commented on #308
I ran into this issue when trying to switch from Entity Framework 4 and database first to Entity Framework 6 and code first. I didn't actually try EF6 and database first.

I used the POCO Generator Wizard to create the code first database module, and was eventually able to work-around the issue by just manually renaming one of the properties.

I'm currently using Entity Framework 6.1.3 and code fi

[2017-07-05 22:39] dimkanewtown commented on #271
Agree with @jrkd. Not having to migrate off EF6 would incredibly help migrate existing projects to dotnet core.

[2017-07-06 00:01] ajcvickers commented on #309
**EF Team Triage:** This issue is not something that our team is planning to address in the EF6.x code base.  However, it might already be supported by the third-party [Reverse Poco Generator](https://visualstudiogallery.msdn.microsoft.com/ee4fcff9-0c4c-4179-afd9-7a2fb90f5838/view/Reviews/2) or, if not already supported, might make a good contribution to that project.

[2017-07-06 00:01] #309 closed

[2017-07-07 05:33] Eilon commented on #306
BTW this isn't related to Linux or xplat. I think it's entirely a Windows-only problem and can make apps unreliable because GetTempFile is not a reliable API. Your call, though.

[2017-07-07 16:02] ajcvickers commented on #306
Re-opening since @Eilon indicates this is a Windows issue.

[2017-07-08 00:02] divega opened #310 "DiagnosticSource instrumentation"
This should help leveraging more of a common set of capabilities for diagnostics across EF Core and EF6 in ApplicationInsights, Glimps, etc.

[2017-07-08 07:21] divega opened #311 "InvalidOperationException: No Entity Framework provider found for the ADO.NET provider with invariant name 'System.Data.SqlClient'."
_From @stanuku on July 8, 2017 6:6_

Hello - I'm getting this runtime exception.

My solution details:

**Target Framework = .NET 4.6.1**

- VS 2017 15.2 (26430.120
- A class library project (repositories library) using DbContext (using Entity Framework 6.3, **not** EF Core)
- ASP.NET Core 1.1 API project referencing the repositories project.
- Running any query using DbContext throws this excepti

[2017-07-08 18:53] ajcvickers commented on #311
See https://entityframework.codeplex.com/workitem/2352

[2017-07-09 07:19] divega commented on #275
@NicoJuicy this can only be set in a `DbConfiguration`

@michalczerwinski it is not set by default, you have to opt in explicitly. That is something we could consider for a future release if the serialization as well as the invalidation mechanism proves to be very reliable.

[2017-07-09 10:40] morSchmidt opened #312 "Setting property on Proxy and then loading original value somewhere else, restores orignal value-"
Given an Entity with a referenced entity and a list,
1. Loading the entity without its referenced entity (resulting in an lazy proxy)
2. Setting the referenced entity property to another entity loaded from the database
3. Loading the original referenced entity from the database will override the assignment that was issued in step 2.

This issue does not appear if the parent entity does not have a

[2017-07-10 10:34] AdrienTorris opened #313 "Which version of Microsoft.EntityFrameworkCore.Tools.DotNet use with EntityFrameworkCore 2.0.0-preview2-final"
I have a project using ASP.NET Core version _2.0.0-preview2-final_ and Entity Framework Core _2.0.0-preview2-final_ and I don't find which version of `Microsoft.EntityFrameworkCore.Tools.DotNet` we have to use.

I installed the version _2.0.0-preview2-final_ like it's says [in the announcement](https://blogs.msdn.microsoft.com/dotnet/2017/06/28/announcing-ef-core-2-0-preview-2/) but when I try to

[2017-07-10 11:35] AdrienTorris commented on #313
For information, I'm using Visual Studio Community 2017 Preview 2 version 15.3.0 Preview 3.0. And .NET Core 2.0 Preview 2 is installed.

[2017-07-10 13:52] smitpatel commented on #313
If you are using `dotnet ef` inside `Package Manager Console` in Visual studio, you must cd into the directory containing csproj. By default PMC is rooted at solution folder. Consider using Powershell commands in Visual studio.

[2017-07-10 13:52] #313 closed

[2017-07-10 16:22] CZEMacLeod opened #314 "Power Tools View commands don't work if startup project config file uses external files with configSource attribute"
Using a Power Tool command such as View EDM (read-only) fails as it copies the web.config from the startup project to my temp folder but does not copy or fixup the paths for sections referred to in configSource lines.
[code]
[code]
I think the tool should either inline these files/sections, or copy the files with temp names and fix-up the paths.
Note a similar issue may occur with appSettings alth

[2017-07-10 16:27] CZEMacLeod commented on #314
For reference - I think this should be part of the FixUpConfig method in EntityFramework6/src/PowerTools/DbContextPackage.cs

[2017-07-10 17:58] divega commented on #313
@AdrienTorris also, for future reference, this repository is for EF version 6. I think you intended to create an issue for EF Core over at https://github.com/aspnet/EntityFramework/issues/.

[2017-07-10 19:02] ajcvickers commented on #314
**EF Team Triage:** This issue is not something that our team is planning to address in the EF6.x code base.  This does not mean that we would not consider a community contribution to address this issue.

Moving forwards, our team will be fixing bugs, implementing small improvements, and accepting community contributions to the EF6.x code base. Larger feature work and innovation will happen in the

[2017-07-10 19:02] #314 closed

[2017-07-10 19:18] ajcvickers commented on #306
Discussed again in triage. We haven't seen any customers reporting this issue, so we're not going to do anything immediately to fix it, especially since the use is in design-time code, meaning that if someone did hit it, then they would be able to go delete files on their machine. Beyond that, we will follow up on the idea that this API can basically never be used and figure out if it will ever ge

[2017-07-10 19:18] #306 closed

[2017-07-10 19:34] ajcvickers commented on #311
@stanuku See the CodePlex issue above for information about making sure the assembly gets deployed. In addition to this, you'll need to make sure that any necessary config file changes are made. We do the best we can within the NuGet environment to ensure that these changes get made for you, but depending on where and how you have NuGet install the package you may need to make some changes manuall

[2017-07-10 19:34] #311 closed

[2017-07-11 10:48] DeshmukhParag commented on #230
![migrationcore](https://user-images.githubusercontent.com/16464539/28065001-6a45b8b2-6654-11e7-8c1f-f39620d75613.png)
EntityFrameworkCore\Enable-Migrations
EntityFrameworkCore\Add-Migration sdd
EntityFrameworkCore\Update-Database

[2017-07-11 14:54] divega commented on #230
@DeshmukhParag could you please explain the intent of your previous comment? Is there something not working according to your expectations?

[2017-07-11 15:23] bdebaere opened #315 "Entity splitting with left join"
I am currently working on a business project with extremely little control over the database structure. The database has the following tables: Item, ItemProperties, ItemFlags, et cetera.

When there are no extra properties no record is made in the ItemProperties table instead of a record with all NULLs. I would very much like to use entity splitting so my output is a nice clean class: Item. This p

[2017-07-11 17:55] smitpatel commented on #230
@bricelam - In above image, `EFCore\Enable-Migrations` says to use `EF\Update-Database` for EF6. which would be incorrect. Can you verify, we are doing correct thing?

[2017-07-11 19:00] bricelam commented on #230
Ha, nice. It's a bug. https://github.com/aspnet/EntityFramework/blob/rel/2.0.0/src/EFCore.Tools/tools/EntityFrameworkCore.psm1#L144

[2017-07-13 00:36] divega commented on #315
@bdebaere we discussed this and we believe that

1. Yes, it is by design, and changing the assumption that the dependent row always exists would involve prohibitively expensive changes. E.g. we would need to track whether the row exists in the database to decide whether and update on the entity level should generate an INSERT or an UPDATE operation against the table.

2. We think that the simplest

[2017-07-13 00:36] #315 closed

[2017-07-13 07:27] bdebaere commented on #315
@divega Thank you for your time. This does not seem to give the output that I want. The JSON output lacks the DrawingId, even for Items which clearly have one. Did I forget something? What am I missing?

Also, as far as I'm aware, this will make 3 extra database queries when I have 3 mapped entities? If this is correct then this is a method I would like to avoid and hope that you have another sugg

[2017-07-13 13:54] lauxjpn opened #316 "Changing WithRequiredPrincipal to WithRequiredDependent will not drop and recreate foreign key in migration if of type Guid"
If you want to change the owner table of a foreign key that is of type `Guid` in a one-to-one relationship by switching from `WithRequiredPrincipal()` to `WithRequiredDependent()` within your `EntityTypeConfiguration`, the resulting migration script will drop any related indices, but will keep the old foreign key (which is now out of sync with the configuration because it is owned by the wrong tab

[2017-07-14 03:08] weitzhandler opened #317 "Unable to use migrations"
Hi,

I have an ASP.NET Core project using EF 6.1.3, using VS 2017.

When I'm running `Enable-Migrations -Verbose`, I get the following error:

    Using StartUp project 'ConsoleApp1'.
    Using NuGet project 'WebApi'.
    Exception calling "SetData" with "2" argument(s): "Type
    'Microsoft.VisualStudio.ProjectSystem.VS.Implementation.Package.Automation.OAProject' in assembly
    'Microsoft.Visua

[2017-07-14 11:18] cincuranet commented on #195
I'm following up [this](https://blogs.msdn.microsoft.com/dotnet/2017/05/23/announcing-ef-6-2-beta-1/) CTA.

I've tested the [FirebirdClient](https://github.com/cincuranet/FirebirdSql.Data.FirebirdClient) `6.2.0-beta1` and _Entity Framework Tools 6.2 Beta 1_ on VS2015 and everything is fine. I tried one table model as well as huge 400+ tables model.

[2017-07-14 14:08] QuantumHive opened #318 "Postfix entity name when using the DB First designer"
Is it possible to postfix Entity class names when using the DB First Designer approach in `EF 6.1.x`?
For example if I have a database table called `Person`, that whenever I do `Update model from Database...`, it could generate the following class?

`public partial class PersonEntity { ... }`

where Entity Framework postfixed the class name with `-Entity`.

I tried to modify the `.tt` files where

[2017-07-14 16:32] divega commented on #195
Thank you very much @cincuranet!

[2017-07-17 18:50] ajcvickers commented on #316
**EF Team Triage:** This issue is not something that our team is planning to address in the EF6.x code base.  This does not mean that we would not consider a community contribution to address this issue.

Moving forwards, our team will be fixing bugs, implementing small improvements, and accepting community contributions to the EF6.x code base. Larger feature work and innovation will happen in the

[2017-07-17 18:50] #316 closed

[2017-07-17 19:48] ajcvickers commented on #317
@weitzhandler This is a duplicate of #231. EF6 should work fine with ASP.NET Core running on .NET Framework when using the traditional project system.

[2017-07-17 19:48] #317 closed

[2017-07-17 19:49] ajcvickers commented on #318
Discussed this in triage and the most practical solution we can come up with is to post-process the EDMX file after it is generated.

[2017-07-17 19:49] #318 closed

[2017-07-17 21:07] weitzhandler commented on #317
@ajcvickers it doesn't. Am I getting anything wrong? I'm using csproj files in VS 15.2.
I posted another comment [here](https://github.com/dotnet/project-system/issues/934#issuecomment-315884479).

[2017-07-17 21:09] weitzhandler commented on #231
OMG so no migrations until 6.3? Any roadmap/workaround?

[2017-07-17 21:11] ajcvickers commented on #231
@weitzhandler Migrations works now, just not with the new csproj infrastructure. Is there something that is stopping you using the traditional project system?

[2017-07-17 21:13] ErikEJ commented on #231
Just use the existing project system

[2017-07-17 21:19] weitzhandler commented on #231
@ErikEJ @ajcvickers thanks for your reply, I probably got it wrong. What do you guys refer to when saying 'traditional project system'? This project was created in VS2017, and it's a csproj.
Since it's an existing project, is there anything I can change to make it 'traditional'?
Again, thanks in advance!

[2017-07-17 21:35] bricelam commented on #317
*csproj files* is not the same as *the traditional project system*. (i.e. The file extension has little to do with the VS project type.) Ensure you're using this project type:
![image](https://user-images.githubusercontent.com/1226749/28290908-28b8a92e-6afd-11e7-8211-b028a4fe9617.png)

[2017-07-17 22:40] weitzhandler commented on #317
What can I do to migrate and existing csproj file to what's needed?

[2017-07-17 23:00] bricelam commented on #317
I would create a new one and copy your files into it. Anything else is probably more trouble than it's worth.

[2017-07-17 23:04] weitzhandler commented on #317
OMG
I have a lot of files, some of which are shared with other projects, what a mess.
But I still didn't figure what's the difference between the project files, aren't all project files *csproj*s?
Besides, you suggested creating a dll, while my project is a kestrel website.

[2017-07-18 03:46] bricelam commented on #317
In order to use EF6 with ASP.NET Core, you'll need to move your DbContext and entity types to a classic class library. (aspnet/EntityFramework6#146)

[2017-07-18 03:54] bricelam commented on #317
Some *csproj* files are loaded using the old Visual Studio project system, and some are loaded using the [new project system](https://github.com/dotnet/project-system). All contain MSBuild-compatible XML.

[2017-07-18 03:59] bricelam commented on #317
Oh, I just remembered: You might be interested in the [mrahhal/Migrator.EF6](https://github.com/mrahhal/Migrator.EF6) project which allows you to manage EF6 Migrations using `dotnet ef` like on EF Core.

[2017-07-18 04:00] bricelam commented on #146
Another workaround: [mrahhal/Migrator.EF6](https://github.com/mrahhal/Migrator.EF6)

This allows you to use `dotnet ef` with EF6.

[2017-07-18 06:50] QuantumHive commented on #318
Okay, so it's a missing feature. I wouldn't really call it practical for every scenario.

[2017-07-18 08:47] ErikEJ commented on #290
I have logged: https://github.com/ErikEJ/EntityFramework6PowerTools/issues/12

[2017-07-18 11:55] weitzhandler commented on #317
I think I'll extract the files into a class library, hope I'm gonna survive...

[2017-07-19 14:07] bass3l opened #320 "Error 2019 when creating StorageMappingItemCollection"
Hi,

I'm using EF6 with DB first approach, I'm trying to change the schema name at runtime by parsing msl/ssdl/csdl xml resources and then change every occurrence of xml attribute `Schema` with my desired schema name, then I create `StorageItemCollection` and `EdmItemCollection` and use them to create the `StorageMappingItemCollection`, register them in workspace and finally create an `EntityConne

[2017-07-19 18:33] ajcvickers commented on #320
@bass3l Can you post an example of what the SSDL, CSDL, and MSL look like after your transformations? Also, can you post the full error message (and stack trace, if there is one.)

[2017-07-20 07:19] bass3l commented on #320
OK, I just change the ssdl file, here is the old version :
[code]

and here is the edited version at runtime :
[code]

and the stack trace is full of this kind of errors :
[code]

Please note that I only change the `Schema` attribute in the ssdl, and I think that when I change it and create the context using a `MetadataWorkSpace` it doesn't load the custom mappings configs from App.config...

thnx

[2017-07-20 14:32] tlk opened #321 "Update-Database -Rollback-Last-Migration"
This is a suggestion to extend the Update-Database command to be able to rollback the last applied migration.

I believe that a common work pattern for a developer using entity framework is to scaffold a new migration, apply it, realize that something needs to be changed, rollback the migration, re-scaffold, and re-apply the migration. See https://stackoverflow.com/questions/11904571/ef-migrations

[2017-07-21 18:52] ajcvickers commented on #321
**EF Team Triage:** This issue is not something that our team is planning to address in the EF6.x code base.  This does not mean that we would not consider a community contribution to address this issue.

Moving forwards, our team will be fixing bugs, implementing small improvements, and accepting community contributions to the EF6.x code base. Larger feature work and innovation will happen in the

[2017-07-21 18:52] #321 closed

[2017-07-21 20:53] ajcvickers commented on #320
@bass3l If we are remembering correctly, the CSDL and SSDL reference each other, so changing just one may not be sufficient. If you could post MSL and CSDL as well as SSDL, then it might be apparent where else changes need to be made.

Also, can you explain more about what you mean by "custom mappings configs from App.config"?

[2017-07-22 07:09] bass3l commented on #320
@ajcvickers, I use these configurations in my app.config so I can override the mapping of `Number` :
[code]
referenced from [oracle docs](https://docs.oracle.com/database/122/ODPNT/entityDataTypeMapping.htm), those override the default mappings when we create our model and that works great, but when I change the schema it fails as I said... I'll try to post MSL and CSDL when I get to my work place

[2017-07-24 16:00] ajcvickers commented on #320
@bass3l That looks like something specific to Oracle. You'll probably need to contact them if these are not working.

[2017-07-24 17:27] TanielianVB opened #322 "GroupBy Query not optimal"
Hi,
Given the sample code:
[code]
The first Console.WriteLine writes:
[code]
The second Console.WriteLine writes:
[code]
Why?
I expected something like:
[code]
Why so different?
On my Database TbCli has 81104 rows and TbRcd has 7534828 rows
The first query takes 40secs to run and the second does not run at all... =(
I know there are some other ways of doing this query but for some reasons this is

[2017-07-24 23:02] JudeAlquiza opened #323 "Nested transactions"
Hi,

Just want to ask if there is a feature that supports nested transactions with entity framework ? like the one here in this stackoverflow thread
https://stackoverflow.com/questions/33728142/how-to-create-nested-transactions-in-entity-framework-using-transactionscope

Thanks!
Jude Alquiza.

[2017-07-25 07:07] ErikEJ opened #324 "Performance improvements in EF !?"
This blog post: https://blogs.msdn.microsoft.com/dotnet/2017/07/24/net-framework-july-2017-preview-of-quality-rollup/  mentions "performance improvements in Entity Framework" - are you able to share what they are, and which EF version is affected - assume it is 5?

[2017-07-25 17:54] kalebpederson opened #325 "Queries involving DATETIME behave differently between SQL Server versions 2013 & 2016"
We recently attempted to upgrade to SQL Server 2016 but ran into some problems wherein EntityFramework didn't take into account the differences in behaviors between SQL Server 2013 and SQL Server 2016. Here's the breaking changes list provided by Microsoft:

https://docs.microsoft.com/en-us/sql/database-engine/breaking-changes-to-database-engine-features-in-sql-server-2016

In that we read the fol

[2017-07-25 18:17] ErikEJ commented on #325
See #49 - closed as wont fix

[2017-07-25 20:07] mirhagk opened #326 "Correct license?"
The license on github says that this project is licensed under Apache, but the [nuget site](https://www.nuget.org/packages/EntityFramework) refers to a [different license](https://www.microsoft.com/web/webpi/eula/net_library_eula_enu.htm) that is more restrictive.

Which is the appropriate license for this project?

[2017-07-26 12:31] Cynicszm opened #327 "EdmxWriter.WriteEdmx Null Reference Exception when using DbCompiledModel in constructor"
Hi,

We are getting an error when constructing a DbContext passing in a DbCompiledModel and trying to MigrateDatabaseToLatestVersion using Entity Framework 6.2 Beta 1

The DbCompiledModel is successfully retrieved from a DefaultDbModelStore via EdmxReader.Read(xmlReader, defaultSchema) then passed into the base constructor.

The Database Initializer is set to MigrateDatabaseToLatestVersion using t

[2017-07-28 22:10] divega commented on #320
@bass3l I have mentioned this issue to @alexkeh from Oracle, but it may be a good idea for you to contact Oracle through whatever channel you usually contact them to obtain support.

I will be closing this issue because at this point it doesn't seem actionable from an EF 6 perspective, but feel free to reactivate if you confirm that is not the case.

[2017-07-28 22:10] #320 closed

[2017-07-30 21:22] bass3l commented on #320
@divega @ajcvickers  yes I can confirm that it's an Oracle issue, and actually I solved it (accidentally!) by opening an oracle connection before the initializing of `StorageMappingItemCollection` !!
the final code is like this :
[code]
I hope this helps anyone who gets stuck on this, thanks anyway

[2017-07-31 20:22] divega commented on #323
@JudeAlquiza in general EF (and EF Core) rely on the transactional capabilities or the underlying database system (note that `TransactionScope` is currently not supported in EF Core but the plan is to bring this feature back now that it exists in .NET Core and that will be supported in various relational database providers).

Many commonly used databases do not have nested transaction capabilities

[2017-07-31 20:22] #323 closed

[2017-07-31 20:33] divega commented on #324
I am quite sure the term "performance improvements" is being used to describe the added ability to control the query cache size in the versions of EF runtime that are included in .NET Framework (e.g. EF versions 4 to 5 can take advantage of this).

This was originally implemented in a hotfix and it can be done in the configuration system, e.g.:

[code]

As you probably know, the equivalent setting

[2017-07-31 20:33] #324 closed

[2017-07-31 21:59] JudeAlquiza commented on #323
Hi @divega thank you so much for the reply :) my apologies for replying late

[2017-08-01 00:43] divega commented on #326
@mirhagk the source code is distributed under Apache 2.0 but the binaries are distributed under the Microsoft .NET Library license.

[2017-08-01 00:43] #326 closed

[2017-08-01 07:36] ErikEJ commented on #324
@divega Where is the EF6 setting documented?

[2017-08-01 16:45] divega commented on #324
@ErikEJ I did a quick search and the only places I found it from us is in our original announcement blog post, and in the version history page at https://msdn.microsoft.com/en-us/library/jj574253(v=vs.113).aspx. The original commit https://github.com/aspnet/EntityFramework6/commit/528fc83bfb579af7c3c9145d5516062bca983b2f is now indexed too :smile_cat:

I have created a new issue to add a page abou

[2017-08-02 00:33] divega commented on #322
@TanielianVB thanks for this great bug report! It seems that there is a limitation in the "aggregate pushdown" phase of the EF query plan compiler which prevents expressions containing any external references (including parameters) from being simplified. That is why you are seeing the version with the constants generating simpler SQL.

In general the bar for making changes in EF's plan compiler is

[2017-08-02 00:33] #322 closed

[2017-08-02 00:34] divega commented on #322
*EF Triage*: Repeating previous comment on the decision to not fix:

In general the bar for making changes in EF's plan compiler is very high given that there is a risk of functional and performance regressions which could be extremely hard for us to detect. Therefore I am leaning towards trying to help you find workarounds rather than attempting a fix or even leaving this issue open in the backlo

[2017-08-02 00:57] divega commented on #327
@Cynicszm thanks a lot for reporting this.

Just to confirm, are you asserting that the same code was working correctly with EF 6.1.3 but is no longer working in EF 6.2 Beta 1?

If that is the case, there was actually a change that might have affected `EdmxWriter()` in 6.2 Beta 1: https://github.com/aspnet/EntityFramework6/commit/d03610af3b71732a29a5154261b65911e3b199c5. We can look into it but we

[2017-08-02 01:00] divega commented on #327
@Cynicszm I realize after re-reading your bug report that you are actually using the feature that this changeset added.

Still, a repro would be great.

[2017-08-02 01:50] divega commented on #325
@kalebpederson thanks for the detailed explanation! As @ErikEJ mentioned, this is a known issue that we have previously decided not to fix.

At the core of the problem, EF is creating parameters of type `DATETIME2` even for assignments or comparisons with columns of type `DATETIME`. This has a number of different consequences depending on the role of the column and whether it is encrypted.

The wo

[2017-08-02 08:12] Cynicszm commented on #327
On holiday for the next week will look at a repro when I get back. Tracing it back, got as far as the failing line 67
var builder = compiledModel.CachedModelBuilder.Clone();
CachedModelBuilder is null as the compiled model came about using the other constructor.

[2017-08-03 09:13] daliusd commented on #289
It looks like Future() is the problem. Sample application attached. Application demonstrates problem as well as it randomly can return 1 on query with Future while it should always return 0.

Query without Future():

exec sp_executesql N'SELECT
    [Extent1].[ItemID] AS [ItemID],
    [Extent1].[Name] AS [Name],
    [Extent1].[AddDate] AS [AddDate]
    FROM [dbo].[Items] AS [Extent1]
    WHERE [Ext

[2017-08-03 12:28] MurariAlex opened #328 "Implement One-To-One API (with FK support)"
I'm almot certain that it´s never gonna be implemented here, but,  well... let´s consider the possibility.

Judging by the [One-To-One API implementation in EF Core](https://github.com/aspnet/EntityFramework/commit/4ef58a625624fd4db1119ed5028bcfc40a831a4c) (when it was still EF 7 back in 2014) made by @ajcvickers , the changes required to create an OneToOne API ain´t _that_ scary. Of course the co

[2017-08-03 14:39] explorer14 opened #329 "Mapping entity collections to IEnumerable instead of ICollection"
Hi folks,

With EF Core I can expose a collection property of my domain entity as IEnumerable/IReadOnlyCollection and encapsulate the internal list from accidental changes to it that might risk breaking the consistency of my domain model.

Are there any plans to allow for similar flexibility in EF 6? I know there are workarounds for this but I would rather a mature infrastructure component such as

[2017-08-06 12:42] kukadlo opened #330 "Local property performance"
When there is a lot of records in the database table, the access to DbSet's Local property (EF6) takes a very long time. The same property access is very quick in the EF Core. Does it mean there is some different programming approach to this property ? Cannot be the EF6 Local property rewritten by the same way to be quick too ?

[2017-08-07 18:52] divega opened #331 "Improve accessibility of EF6 Tools"
We are doing significant work in the accessibility of EF Tools. Most of it is tracked by internal bugs, but adding this issue here to reflect the full picture of the work we are doing in our main issue tracker.

[2017-08-07 18:58] divega opened #332 "Instrument EF Tools wizard for usage data"
We would like to have more information about how much customers use each of the different options, e.g. code first from existing database, designer from new database, etc. to be able to make better decision on where we invest.

[2017-08-07 20:01] pauloanalista opened #333 "Is it possible to use DbGeography in the docker container through mono?"
Is there any possibility of running a .NET project that uses the entity framework using spatial data in a docker container through the mono?

[2017-08-07 21:15] AkodoShado commented on #231
I created new solution, added new existing project and everyting started to work.

[2017-08-07 22:01] divega opened #334 "Figure out open development story of EF Tools on Visual Studio 2017 and beyond"
It seems not to be possible for open source contributors to modify the code of EF Tools and to obtain a local build which can be installed on Visual Studio 2017.

We either need to learn how to do this or advocate for changes in Visual Studio component installation story to enable this again.

The current story is to build and test in previous versions of Visual Studio, but this doesn't seem susta

[2017-08-08 17:38] badre429 commented on #271
@divega any update

[2017-08-10 22:21] divega opened #336 "Query with Include() and Single() returns null when first column in generated SQL is null"
I have received this other code for a repro:

[code]
Customer dug a bit into this and believes that there may be an assumption in some of our logic that the column in the SQL projection is the primary key but this is not always the case.

He also believes it is similar to something described in https://stackoverflow.com/questions/10212913/entity-framework-returns-null-for-a-row-if-the-first-column

[2017-08-11 09:13] divega commented on #330
@kukadlo the implementation is quite different for `Local` between EF6 and EF Core. E.g. the way I understand it, in EF6, `Local` contains a copy of the contents of the change tracker that is kept in sync, vs. in EF Core it functions more like a view over the data in the change tracker, without copying the references.

I believe changing the implementation in EF6 could be a bit expensive and would

[2017-08-11 09:15] jakubro opened #337 ""System assertion check has failed" when querying an in-memory table that has clustered columnstore index (SQL Server 2016)"
## Current Behavior

After adding clustered columnstore index to an in-memory table in SQL Server 2016, I cannot query this table from Entity Framework, because an `EntityCommandExecutionException` exception is thrown. This exception contains an inner exception with message implying that `a system assertion check has failed.`

However executing the same query from SQL Server Management Studio (SSM

[2017-08-11 19:06] divega commented on #337
@jakubro would it be possible for you to try executing the same SQL generated by EF6 through the ADO.NET provider? SqlClient may configure the query differently than SSMS.

[2017-08-11 21:52] divega commented on #333
@pauloanalista I don't think this is possible, but I am not 100% sure. Entity Framework source code has been incorporated in the Mono distribution but I would expect the capabilities to vary depending on the target platform and database provider.

In particular, `DbGeography` functionality depends on the EF database provider supplying extensive spatial type implementation, which in the case of our

[2017-08-11 21:52] #333 closed

[2017-08-11 21:54] divega commented on #329
@explorer14 support for `IEnumerable<T>` collections navigation properties is indeed a new feature in EF Core. We don't have any plans to enable it in EF6.

[2017-08-11 21:54] #329 closed

[2017-08-12 01:05] divega commented on #328
**EF Triage:** @MurariAlex we discussed this and we believe it would really help a lot if you could come up with concrete code examples of things you can do with the EF Core relationship API that you cannot do with the existing EF6 relationship API. Once you have identified specific functionality that is missing we can move on to talk about the value of adding them, e.g. linking to examples of whe

[2017-08-13 16:39] hannespreishuber opened #338 "How to add UWP Project"
I am running on 6.0.0-preview2-25612-02 of Microsoft.NETCore.UniversalWindowsPlatform and try to add a EntityFramework SQLClient Package,.
no idea how to.

Message form Nuget is
Das Paket Microsoft.EntityFrameworkCore.SqlServer 2.1.0-preview1-26636 ist nicht mit uap10.0.16257 (UAP,Version=v10.0.16257) kompatibel. Paket Microsoft.EntityFrameworkCore.SqlServer 2.1.0-preview1-26636 unterstützt Folgen

[2017-08-13 17:05] ErikEJ commented on #338
You have to stay on version 1.1.2 for now (until a newer version of UWP comes later this year)

[2017-08-13 18:05] hannespreishuber commented on #338
doenst compile with 1.1.2 several Errors with the .net base data types

[2017-08-13 18:06] hannespreishuber commented on #338
<ItemGroup>
    <PackageReference Include="Microsoft.EntityFrameworkCore.SqlServer">
      <Version>1.1.2</Version>
    </PackageReference>
    <PackageReference Include="Microsoft.NETCore.UniversalWindowsPlatform">
      <Version>6.0.0-preview2-25612-02</Version>
    </PackageReference>
  </ItemGroup>

[2017-08-13 18:08] hannespreishuber commented on #338
<ItemGroup>
    <PackageReference Include="Microsoft.EntityFrameworkCore.SqlServer">
      <Version>1.1.2</Version>
    </PackageReference>
    <PackageReference Include="Microsoft.NETCore.UniversalWindowsPlatform">
      <Version>6.0.0-preview2-25612-02</Version>
    </PackageReference>
  </ItemGroup>

[2017-08-13 18:08] hannespreishuber commented on #338
`<ItemGroup>
    <PackageReference Include="Microsoft.EntityFrameworkCore.SqlServer">
      <Version>1.1.2</Version>
    </PackageReference>
    <PackageReference Include="Microsoft.NETCore.UniversalWindowsPlatform">
      <Version>6.0.0-preview2-25612-02</Version>
    </PackageReference>
  </ItemGroup>
  `

[2017-08-13 18:09] smitpatel commented on #338
This issue was moved to aspnet/EntityFramework#9401

[2017-08-13 18:09] #338 closed

[2017-08-13 20:32] MurariAlex commented on #328
Thanks for the reply, @divega.

Consider this example.

[code]

The `Customer `and `Employee` table points to the `Address` table using the `AddressId `FK, this is a must have in my scenario because other clients consume this database through pure SQL and the address is fetched through joining the tables using the `AddressId` FK.

It would be perfectly normal (and in my case necessary) to do somet

[2017-08-14 09:23] jakubro commented on #337
@divega I've made a runnable demo for this issue - [https://github.com/jakubro/ef-inmemory-columnstore].

I'd run the EF-generated query [through ADO.NET](https://github.com/jakubro/ef-inmemory-columnstore/blob/master/src/DemoDataApp/Program.cs#L84-L99), but that was executed correctly.

[2017-08-14 18:27] ajcvickers commented on #325
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2017-08-14 18:27] #325 closed

[2017-08-15 18:37] avicenna1 opened #339 "when support hierarchyID in Ef"
Hi.
hierarchyID supported from sql-server 2008.
but now is 2017 and EF not supported it?

[2017-08-15 23:26] ajcvickers commented on #328
Note for triage: The underlying architecture for EF6 does not support 1:1 relationships that are not PK to PK where the FK is mapped to a CLR property. So the example above would not be supported without a huge amount of work. The only thing we might be able to make work with API changes would be an independent association where the FK is not a PK, but I have a vague recollection that there are so

[2017-08-15 23:42] ajcvickers commented on #330
@divega is correct. We won't be changing Local on EF6 because it would be a breaking change in several ways. However, it might be possible to create an extension method for EF6 that operates as an observable view over the state manager, just like in EF Core. This is not something we are going to work on, but if you decide to give it a try then I would be interested to hear how it goes.

[2017-08-15 23:42] #330 closed

[2017-08-15 23:49] TimRowe commented on #275
This is as  improvement of the code first mode , why you say it has to do with edmx file? edmx file isn't with the db first mode?

[2017-08-16 00:33] IanYates commented on #185
Is this present in the new VS 2017 Update 3  (VS 15.3) release that came out this week?

[2017-08-16 00:34] IanYates commented on #195
I asked on #185, but since it's closed I thought I should probably ask here on an open & related issue.  Is EF 6.2 tooling present in the new VS 2017 Update 3  (VS 15.3) release that came out this week?

[2017-08-16 01:06] divega commented on #275
@TimRowe the improvement serializes the computed code first model to an artifact that uses the edmx file format. I.e. the edmx becomes an implementation detail of code first when you are using this option.

[2017-08-16 04:35] divega commented on #195
@IanYates no, we don’t have public builds of the updated EF tools that target Visual Studio 2017 yet. We plan to make the updated tools part of an upcoming update of Visual Studio. The only way you can test this right now is with a previous version of Visual Studio.

[2017-08-16 05:21] kalebpederson commented on #325
@divega Sorry, I didn't see your follow-up questions sooner.

Responses to your questions:

1. We currently have ~80 tables with a column where we would likely run into this issue, though we've seen it actually happen in far fewer cases. The main operation that is failing for us is the concurrency check on columns of type `DATETIME` that happen during update operations in our regression test runs.

[2017-08-16 23:35] ajcvickers commented on #339
**EF Team Triage:** This issue is not something that our team is planning to address in the EF6.x code base.  This does not mean that we would not consider a community contribution to address this issue.

Moving forwards, our team will be fixing bugs, implementing small improvements, and accepting community contributions to the EF6.x code base. Larger feature work and innovation will happen in the

[2017-08-16 23:35] #339 closed

[2017-08-17 20:00] Z3URP13T commented on #81
Is there a work-around for those like me that are using 6.1.3 with no option to install a beta version of 6.2.0?

[2017-08-17 20:27] ajcvickers commented on #289
@daliusd Future() is not part of EF but is instead implemented by EntityFramework.Extensions. As such it would be better to follow up with the authors of EntityFramework.Extensions or with the community in general. If there is an underlying bug in EF, then please provide details and we will investigate more.

[2017-08-17 20:27] #289 closed

[2017-08-17 20:41] AndriySvyryd commented on #81
@glozanomoran There are no good workarounds. You would need to get the DbConnection and create and execute the command manually and wrap this in a `ExecutionStrategy.Execute` call, see https://msdn.microsoft.com/en-us/library/dn307226(v=vs.113).aspx

[2017-08-18 16:19] Shloosh commented on #231
@ErikEJ @ajcvickers I have the same question as @weitzhandler. When you say traditional/existing project system, do you mean VS2015 (net461), or simply VS2017 with the old project.json project file?

[2017-08-18 16:24] glozanomoran commented on #81
Any idea when EF 6.2 will be released? For now I suspend the execution strategy for the Database.SqlQuery() and Database.ExecuteSqlCommand() but my initial plan was to actually add the retrying strategy for the operations behind these two methods.

[2017-08-18 16:35] weitzhandler commented on #231
@Shloosh
I think the new project system refers to the one created in .NET Standard projects.
The extension remains _.csproj_, but the file structure is much cleaner and easier to edit.
@ErikEJ, correct?

[2017-08-18 18:11] AndriySvyryd commented on #81
@glozanomoran We don't have a date for the release yet, but we are working on it.

[2017-08-18 19:36] ErikEJ commented on #231
Correct

[2017-08-18 20:46] flts commented on #175
Looking at the Table creation script I could very well be that you are missing a PK on the MiscTableCatalog table.
The moment that EF can't find or use a PK and it can't define something correctly/unique on its own, you will see duplicate data being returned in the DbSet.
We have seen this problem mainly when we used Views in EDMX.

[2017-08-21 02:33] IanYates commented on #195
@divega - thanks.  I've just set up a new dev machine.  I'll grab the custom EF 6.x DLLs from my old machine's VS 2017 installation and bring them over to this new machine too.  It all worked quite well - it's a shame it's taking so long to get the EF6.2 release into VS2017.
Of course I understand there are a million things to include and appreciate the ability to interact with the EF 6.x team her

[2017-08-21 09:40] glozanomoran commented on #81
Thank you for your responses and patience. It's just that I say in the roadmap that you planned to release EF 6.2 in Q2 2017:
https://github.com/aspnet/EntityFramework6/wiki/Roadmap

I just have to figure out whether to wait for the release of EF6.2 or to find a work-around.

[2017-08-23 12:30] Cynicszm commented on #327
Sorry for the delay. Please find attached.

Using EdmxWriter.WriteEdmx in the parameterless constructor works fine.

Using Database.Initialize or EdmxWriter.WriteEdmx  will fail as described above when a DbCompiledModel is passed into the second constructor.

[EFTestConsole.zip](https://github.com/aspnet/EntityFramework6/files/1245355/EFTestConsole.zip)

[2017-08-24 16:25] marchy commented on #271
What is the current state of this gap after the .NET Core 2.0 release?

We are also stuck on EF6 for several reasons (in-memory query client-side eval, group by clauses, spatial etc.). We had to downgrade from EF7 to EF6 after a really painful migration and realizing we could not handle the present EF7 limitations after a few months – would be wonderful to be able to move to .NET Core while still

[2017-08-25 05:42] divega commented on #4
Clearing up milestone to discuss taking this earlier.

[2017-08-25 10:21] DzonnyDZ opened #343 "NullReferenceException in RelatedEnd.ExcludeEntity"
This issue is best described on https://stackoverflow.com/questions/27209807/cloning-entity-with-ef-6-null-reference-exception
The problem is that under some circumstances (cloned entity?) there is `NullReferenceException` with following call stack:

[code]

[2017-08-25 20:42] pmiddleton opened #344 "Synchronizationcontext with async calls"
I have run into an interesting issue.

I have an async query which is part of a mvc 5 application.  The where clause of the query is performing an equity compare between a field on my entity and a custom property on a class which is abstracting away the asp.net session.

`.Where(c => c.NetworkId == SecurityManager.CurrentUser.CurrentNetworkId)`

When the query runs there is a high chance that Http

[2017-08-25 20:53] davidfowl commented on #344
Yes

[2017-08-25 21:27] pmiddleton commented on #344
Thanks for the answer, that is what I figured it would be.

From what I am reading I should have access to the context again in my code again after the EF call completes.  I don't have to worry about it going away for the rest of the request after the async call?

[2017-08-25 22:09] davidfowl commented on #344
That's correct, the `ConfigureAwait` call would only affect the calls within EF itself, not calls outside of your code. It's an interesting questions whether or not the state should be restored when running the query (thats a tricky one).

/cc @divega

[2017-08-27 12:25] ErikEJ commented on #152
@divega Close this? https://marketplace.visualstudio.com/items?itemName=ErikEJ.EntityFramework6PowerToolsCommunityEdition is published

[2017-08-27 12:27] ErikEJ commented on #290
Close this? https://marketplace.visualstudio.com/items?itemName=ErikEJ.EntityFramework6PowerToolsCommunityEdition is now published

[2017-08-27 12:28] ErikEJ commented on #271
API Port report here:
[ApiPortAnalysis.xlsx](https://github.com/aspnet/EntityFramework6/files/1254381/ApiPortAnalysis.xlsx)

[2017-08-28 07:35] Sellec opened #345 "DBContext wrapping and GetContextFromConstantExpression"
Hello. I have my own Repository/UnitOfWork mechanism which uses different DB types (mysql, mssql).
In this case custom UnitOfWork looks like this:

[code]
So, it works nice but one moment is broken.
When i try to use query like this
[code]
i have an error like "only primitive types are supported in this context". The reason of this is that query builder failes to convert "from parent in uof.ItemsP

[2017-08-28 11:28] Sellec commented on #345
One way is to change EF sources then use compiled binaries, but this way needs to create my own public key (otherwise i have an error "Strong name validation failed").
But some NuGet packages (Hangfire, for example) use EF and they are need to use public key b77a5c561934e089.

[2017-08-28 13:56] Sellec commented on #345
Problem was solved by creating own copy of DBQueryProvider and DBQueryVisitor and replacing EF DBQueryProvider with custom in runtime.

[2017-08-28 13:56] #345 closed

[2017-08-28 16:33] levonyang opened #347 "Issue about add-migration"
I working on a asp.net mvc project and using entityframework as database access tool. and using code first mode.

Today, I encounter a problem:
1. I added a property to a domain entity, then run add-migration xxx, it generated a migration file, but the motheds up and down are all empty. then i run update-database, database din't change anything.

2. I tried to added another property to another ent

[2017-08-28 17:13] Rzpeg commented on #271
We are migrating our libraries to .NET Standard 2, and it would be great to have EF6 ported as well.

[2017-08-29 06:58] Sellec opened #348 "Missing InternalsVisibleTo in NuGet packages"
Where are InternalsVisibleTo attributes in NuGet packages? I need DynamicProxyGenAssembly2 to code generation and testing but it does not present in this release.
But in the full source solution they are presented in Debug and Releases builds.
![clip2net_170829095652](https://user-images.githubusercontent.com/3831263/29810450-8987a526-8ca8-11e7-8651-a4b9c74d9b62.png)

[2017-08-30 14:14] kmilovm opened #349 "Generic Error on EF with Oracle"
Every single error on any process reports the following:

Type is not resolved for member Oracle.ManagedDataAccess.Client.OracleException,Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342'

would be so easy for us as developers to have the real error on database operations (it appears when adding migration, executing seeding or any other initial step wit

[2017-08-30 17:52] ajcvickers commented on #349
@kmilovm This is an exception coming from the Oracle provider; please follow up with them. Closing this for now--if it turns out that this is caused by an issue in EF, then please re-open with full details.

[2017-08-30 17:52] #349 closed

[2017-08-31 18:40] divega commented on #152
Close. We are going to recommend customers to use the Power Tools Community edition moving forward.

[2017-08-31 18:40] #152 closed

[2017-08-31 18:46] divega commented on #225
We don't believe we have anything else to do here. This MSI is a singleton by-design. Now that the reference counting is correct it should be fine.

[2017-08-31 18:46] #225 closed

[2017-08-31 18:47] divega commented on #281
We will leave it as it is.

[2017-08-31 18:47] #281 closed

[2017-08-31 18:49] divega commented on #290
Per @ErikEJ's comment, we are going to recommend customers to use the Community Edition moving forward.

[2017-08-31 18:49] #290 closed

[2017-08-31 18:51] divega commented on #328
**EF Team Triage**: We believe the current fluent API for EF6 matches the EF6 functionality better.

[2017-08-31 18:51] #328 closed

[2017-08-31 18:52] divega commented on #332
@bricelam does this still need work before we close?

[2017-09-01 05:54] Sellec commented on #348
Problem solved.

[2017-09-01 15:14] bricelam commented on #332
It's not merged, and there was mention of possibly adding more details.

[2017-09-01 19:33] #344 closed

[2017-09-01 19:34] #348 closed

[2017-09-02 00:43] ajcvickers commented on #347
**EF Team Triage:** This issue is lacking enough information for us to be able to effectively triage it. In particular, it is missing the following information requested in the new issue template. Can you please provide this information?

Ideally include a complete code listing that we can run to reproduce the issue.
Alternatively, you can provide a project/solution that we can run.

BTW we're not

[2017-09-05 20:28] divega commented on #195
We have got word from Oracle that this change impacts ODP.NET. Here is the plan to mitigate this in 6.2 RTM:

We bring the old code path back alongside the new one.

We will add a flag so that providers can opt-in the new behavior. Likely it will be something like a new virtual `SupportsParameterOptimizationInSchemaQueries` method on the base `DbProviderManifest` with a default implementation that

[2017-09-06 01:16] ajcvickers commented on #261
@sschoeb So the problem here is in the mapping of the FK. This code:
[code]
makes a composite FK with the properties in the order shown--that is TenantId, OrderId. However, the composite PK has these properties in the opposite order, because of the Column(Order = ) annotations. It should be possible to fix this by overriding the order of the PK in the fluent API:
[code]
but it seems that having th

[2017-09-06 10:32] kkocabiyik opened #350 "OLTP Support"
Is there anyway to support OLTP with EF 6.X just like EFCore?

[2017-09-07 23:01] ajcvickers commented on #327
The problem here is that the DbCompiledModel that is being used to create the context instance is not in the DbModelStore cache. This means that there is no way to look up the EDMX that it was created from and also there is no cached DbModelBuilder to build it from. Since Migrations relies on the EDMX to do diffs it cannot continue.

For 6.2 we will generate a better exception. At present I don't

[2017-09-08 18:37] dekenless opened #351 "Using CommitFailureHandler yields 'The underlying provider failed on Commit'"
To address some System.Data.Entity.Infrastructure.CommitFailedExceptions, we started using the CommitFailureHandler.

Based on the exceptions I am getting now, it would appear there is an issue when committing the transaction since the underlying connection is closed.  I'm not sure if there is a problem here, or if I should be retrying when I encounter the "failure to commit":

[code]

[2017-09-11 00:49] weitzhandler commented on #231
@divega
Are you ever going to support inline migrations support for ASP.NET Core + EF 6.1.3?

[2017-09-11 04:09] divega commented on #231
@weitzhandler can you please explain exactly what you mean with that? Sorry if it can be inferred from the context above, but I haven’t read the whole thread.

[2017-09-11 11:56] weitzhandler commented on #231
@divega
It's impossible to run EF 6.1.3 migrations in an ASP.NET Core project with the new project format.
When you run the command `enable-migrations` you get an internal `NullReferenceException`, see the full error in my comment [above](https://github.com/aspnet/EntityFramework6/issues/231#issuecomment-300658753).
Are you ever going to address this?
Although we like adopting new technologies, un

[2017-09-11 13:37] ykosbie opened #353 "Putting orderby before projection causes EF to generate exponential unused OUTER APPLY, OUTER JOIN, and CROSS JOIN in SQL"
Originally discovered because the bug caused an OutOfMemoryException in my query while it was trying to create the query plan.  See original q here: https://stackoverflow.com/q/46144625/794234.  This issue is also posted as a Q on SO: https://stackoverflow.com/q/46151694/794234.

**tl;dr;** Putting `orderby contact.Property` before my projection (`let defaultAddress = contact.Addresses...`) create

[2017-09-11 14:03] ykosbie opened #354 "orderby before join clause gets "swallowed" when query also has a collection property"
Possibly related to #353.  (Also a problem w/ orderby clause position affecting SQL output).

**tl;dr;** A `orderby contact.Property` clause before a join (any type) dissapears from the final SQL if the select clause includes a collection property.

Question

I have a simple data model for storing contact information

    public class Contact {
        public int ContactID { get; set; }

        p

[2017-09-11 18:47] ajcvickers commented on #261
**EF Team Triage:** This issue is not something that our team is planning to address in the EF6.x code base.  This does not mean that we would not consider a community contribution to address this issue.

Moving forwards, our team will be fixing bugs, implementing small improvements, and accepting community contributions to the EF6.x code base. Larger feature work and innovation will happen in the

[2017-09-11 18:47] #261 closed

[2017-09-11 18:53] #327 closed

[2017-09-11 18:53] ajcvickers commented on #347
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2017-09-11 18:53] #347 closed

[2017-09-11 18:56] ajcvickers commented on #351
**EF Team Triage:** This issue is lacking enough information for us to be able to effectively triage it. In particular, it is missing the following information requested in the new issue template. Can you please provide this information?

Ideally include a complete code listing that we can run to reproduce the issue.
Alternatively, you can provide a project/solution that we can run.

BTW we're not

[2017-09-11 19:06] ajcvickers commented on #353
**EF Team Triage:** This issue is not something that our team is planning to address in the EF6.x code base.  This does not mean that we would not consider a community contribution to address this issue.

Moving forwards, our team will be fixing bugs, implementing small improvements, and accepting community contributions to the EF6.x code base. Larger feature work and innovation will happen in the

[2017-09-11 19:06] #353 closed

[2017-09-11 20:30] divega commented on #231
@weitzhandler thanks for clarifying.

I don't think we can answer that yet. Our main strategy for ASP.NET Core and .NET Core in general is to make EF Core a very compelling solution, but that includes closing some of the feature gap with EF6, as you point out, and that is going to take a few releases.

On the flips side, working with EF6 in an ASP.NET Core application is possible but requires work

[2017-09-11 20:51] xt0rted commented on #231
This is one of the main reasons I won't touch the new project system (or even .net core really). The lack of on parity tooling means it adds more headaches than it solves. Not to mention the new project system shines when doing things like EF migrations because of all the files that are added. So realistically the projects that benefit from it the most (EF and websites) don't support it and negate

[2017-09-11 20:56] divega commented on #231
I have update the original issue to explain some of the options.

[2017-09-11 22:26] weitzhandler commented on #231
In my current scenario moving the model to a separate assembly is not an option. The models have partial classes that are ASP.NET specific.
Of course I'd be happy going the Core way totally and leave the old versions behind. As I pointed out TPT is my barrier with EF (complex types was too), and it's not even been assigned a milestone https://github.com/aspnet/EntityFrameworkCore/issues/2266.

[2017-09-11 22:29] weitzhandler commented on #231
In my current scenario moving the model to a separate assembly is not an option. The models have partial classes that are ASP.NET specific.
Of course I'd be happy going the Core way totally and leave the old versions behind. As I pointed out TPT is my barrier with EF (complex types was too), and it's not even been assigned a milestone https://github.com/aspnet/EntityFrameworkCore/issues/2266.

BTW

[2017-09-11 23:26] ajcvickers commented on #350
@kkocabiyik Can you be more specific about what you are asking for? EF6 supports both ADO.NET DbTransaction and System.Transactions.

[2017-09-11 23:28] ajcvickers commented on #354
@ykosbie As per the way LINQ works in general (e.g. Linq-to-objects as an example), once a join is performed, any ordering that happened before the join is not preserved. Therefore this is by-design behavior. /cc @divega who may want to comment further.

[2017-09-11 23:28] #354 closed

[2017-09-12 00:06] ajcvickers commented on #282
@divega Based on the testing I did for this in EF Core, if we make it a public property, then it will be evaluated immediately in the debugger window. That's why we have the DebugView property in EF Core--it delays evaluation of this until DebugView is expanded. But maybe "DebugView" isn't any better than "Non-Public members"? Or maybe I am missing something... 😸

[2017-09-13 06:15] brux88 commented on #275
Hi,but if i use code first migrations , how i can do use persistent caching? My database configuration use dbmigrationsconfiguration and not use dbconfiguration

[2017-09-13 06:16] brux88 opened #356 "Persistent caching with migrations"
Hi,but if i use code first migrations , how i can do use persistent caching? My database configuration use dbmigrationsconfiguration and not use dbconfiguration

[2017-09-13 13:42] CZEMacLeod commented on #282
Would using Lazy<string> help here at all? I'm not sure how the debugger works with evaluating and showing lazy members - I think this would also allow easy casting to string in code without much thought if and when it is required?

[2017-09-15 09:10] Daniel79WI opened #357 "Entities getting sealed when using proxy generation"
Is it necessary for the proxy instance of an entity to be sealed?

I want to create another proxy for an entity. This works fine as long as the ProxyCreationEnabled property is set to false. If this is set to true, I get a sealed proxy object, which can not be wrapped in another proxy.

[2017-09-15 11:44] slavapvf opened #358 "Entity Framework 6 doesn't save navigated object (state is Unchanged) if parent object has all properties virtual"
I have following classes:

[code]
and code:

[code]
if I remove "virtual" from property ID or add a non-virtual property in class A everything is working. I need the property virtual in order to use the model also in nhibernate.

thanks

[2017-09-15 16:18] CZEMacLeod commented on #358
Can you make the properties of class B virtual? Does it work then?
The line `b.title = `... would need to have the changes detected by comparing against the original values, as opposed to the wrapper object detecting changes by overriding the virtual property.

[2017-09-15 17:05] ajcvickers commented on #358
**EF Team Triage:** This issue is lacking enough information for us to be able to effectively triage it. In particular, it is missing the following information requested in the new issue template. Can you please provide this information?

Ideally include a complete code listing that we can run to reproduce the issue.
Alternatively, you can provide a project/solution that we can run.

BTW we're not

[2017-09-15 17:21] ajcvickers commented on #357
@Daniel79WI It's been many years since I worked on the implementation, but at the time they were sealed by design, and I know there were some scenarios where not having exactly the proxy type would cause issues. I suspect all those issues could be fixed with appropriate changes, but I suspect the PR to do this and the testing required would not be easy.

On the other hand, just making them not sea

[2017-09-15 18:49] #350 closed

[2017-09-15 18:50] ajcvickers commented on #356
**EF Team Triage:** This issue is lacking enough information for us to be able to effectively triage it. In particular, it is missing the following information requested in the new issue template. Can you please provide this information?

Ideally include a complete code listing that we can run to reproduce the issue.
Alternatively, you can provide a project/solution that we can run.

BTW we're not

[2017-09-15 19:10] divega opened #359 "Need a flag on runtime type DbProviderManifest to control whether the provider supports optimizing parameters in schema discovery queries"
In order to react to the conclusions of #195, we need to fork the behavior of the designer code that prepares schema discovery queries based on whether the provider supports collapsing parameters by value.

The idea is to:

1. Add a new virtual `bool` method on `DbProviderManifest`, `SupportsParameterOptimizationInSchemaQueries` (or any better name we can come up with), `false` by default.
2. Over

[2017-09-15 19:37] ErikEJ commented on #359
What should I do in order to verify this?

[2017-09-15 21:18] divega commented on #359
@ErikEJ test Update Model From Database using the 6.2 beta1 version of the tools against the SQL CE provider.

[2017-09-15 21:21] divega commented on #359
@ErikEJ In general if schema discovery with the SQL CE provider is only based on executing the Entity SQL queries generated by the tools against the schema discovery model it should be safe.

Providers like Oracle have problems because they don't execute some of the queries and instead use pattern matching to detect them and call into other code passing the parameters.

[2017-09-15 21:26] ajcvickers commented on #357
@Daniel79WI We discussed this a bit more and we're interested in understanding the end-goal of the new proxies. Would it be something that the ability to extend proxy generation in EF would help?

[2017-09-15 22:34] #283 closed

[2017-09-15 23:25] ajcvickers commented on #282
@divega Did some testing and public Sql property will be evaluated when "query" is expanded, not before. Given this, I think the change to make it public is okay.

@CZEMacLeod Lazy in the debugger is a whole other can of worms. :/)

[2017-09-16 07:20] brux88 commented on #356
hi, now i have this configuration for mi dbcontext:

`namespace Sedna.Domain.Migrations_SednaContext
{
    public sealed class Configuration : DbMigrationsConfiguration<UnitOfWork.SednaContext>
    {
        public Configuration()
        {
            AutomaticMigrationsEnabled = false;
           //  AutomaticMigrationDataLossAllowed = true;
            MigrationsDirectory = @"Migrations_SednaCo

[2017-09-16 11:14] ErikEJ commented on #359
You can flip the switch for the SQLCE provider!

[2017-09-16 17:15] slavapvf commented on #358
Hi, making virtual all properties in class B helped. Can be a workaround for me. If I make virtual only a title doesn't help. I attached the solution and database backup. The tables also can be created by script:

CREATE TABLE [dbo].[A](
	[ID] [int] NOT NULL,
	[text] [nvarchar](max) NULL,
	[B_ID] [int] NULL,
 CONSTRAINT [PK_A] PRIMARY KEY CLUSTERED
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NO

[2017-09-17 18:05] divega commented on #282
@ajcvickers cool. Sounds good then.

[2017-09-18 10:53] saeb-panahifar opened #362 "Can't map two classes with same name from different namespace"
We have an enterprise web application, we have a bug about mapping in DbContext EntityFramework 6.0.0.

"Can't map two classes with the same name from different namespaces"

System.NotSupportedException: 'The type 'Pajoohesh.System.Inf.Domain.TypesEntity' and the type 'Pajoohesh.Eng.Que.Domain.TypesEntity' both have the same simple name of 'TypesEntity' and so cannot be used in the same model. All

[2017-09-18 16:57] ajcvickers commented on #359
Thanks @ErikEJ. I merged with the bit flipped for CE, so it should get the optimization once it is implemented in the tooling.

[2017-09-18 16:57] #359 closed

[2017-09-18 16:58] #282 closed

[2017-09-18 17:59] ajcvickers commented on #356
@brux88 DbMigrationsConfiguration is only configuration for Migrations, not EF in general. DbConfiguration is code-based configuration for EF. You can't use DbMigrationsConfiguration to configure anything other than Migrations.

[2017-09-18 18:46] ajcvickers commented on #351
**EF Team Triage:** This issue is lacking enough information for us to be able to effectively triage it. In particular, it is missing the following information requested in the new issue template. Can you please provide this information?

Ideally include a complete code listing that we can run to reproduce the issue.
Alternatively, you can provide a project/solution that we can run.

BTW we're not

[2017-09-18 18:46] #351 closed

[2017-09-18 18:46] ajcvickers commented on #351
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2017-09-18 18:47] #356 closed

[2017-09-18 22:30] ajcvickers commented on #358
Notes for triage: I was able to reproduce this. We have a flag on the state manager that tracks whether or not DetectChanges can be skipped because all entities are notification entities. In the code above, A is a notification entity (because a change-tracking proxy is created) while B is not. The flag is not getting set correctly to indicate that DetectChanges is needed when B is lazy loaded.

@s

[2017-09-18 22:49] ajcvickers commented on #362
This is a duplicate of an issue on the old CodePlex site: https://entityframework.codeplex.com/workitem/483. I have copied the thread here since CodePlex is shutting down. In particular, note:
* This is no longer an issue in EF6 with Code First
* For EF6 with an EDMX, @divega describes the manual steps to make it work:

[code]

----

### Full CodePlex thread

**aszora wrote Sep 12, 2012 at 2:36 AM

[2017-09-18 22:49] #362 closed

[2017-09-19 04:08] saeb-panahifar commented on #362
Thanks.

[2017-09-20 08:32] muehan commented on #271
Some Problem here. EF Core is no option for us. If EF6 does not work with .net Standard 2.0 I have to go back to the old Framework 4.x...

[2017-09-21 08:44] bgurmendi opened #364 "Crash When using proxies when debugger shows variable values."
How to reproduce:
     On Linux OS (Ubuntu 16.04)
     With Mono 3.0 to 5.2.0.224
     Open attached project. (With MonoDevelop or Rider) [Debugger_SIGSEGV_2.zip](https://github.com/aspnet/EntityFramework6/files/1320493/Debugger_SIGSEGV_2.zip)
     Start debugger session.
     When the execution stops do one of this actions:

- On 'Immediate' console: write 'entity'.
- View Locals pad.
- Watch ent

[2017-09-21 08:47] bgurmendi commented on #364
This is the crash report [crash_report.txt](https://github.com/aspnet/EntityFramework6/files/1320507/crash_report.txt)

[2017-09-22 18:46] ajcvickers commented on #357
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2017-09-22 22:40] ajcvickers commented on #364
@bgurmendi This is not something where we plan to update EF6 code unless there is something that is really a bug in the EF6 code. For that we would need more details, but as of now closing as external since it seems like something that needs to be fixed on the Mono side.

[2017-09-22 22:40] #364 closed

[2017-09-23 11:05] Daniel79WI commented on #357
Hi Arthur,

We are loading an object graph from the dbcontext for displaying the data on a user interface. On that, we what the user to edit some data (always a part of the data) with the possibility of accepting or undoing the changes. For this, we used a change tracking proxy, which is created from the selected part of the data to be edited.

Best regards

Daniel Schröder
Projekt Manager

Willis

[2017-09-24 07:40] marsen opened #365 "How to Change EntityFramework Generate SQL Precision about Datetime"
Same Question here
https://stackoverflow.com/questions/46387565/how-to-change-entityframework-generate-sql-precision-about-datetime

I have a table use id & DateTime column be the pk, but when I try to update data by EntityFramework like this:

I got an error` Store update, insert, or delete statement affected an unexpected number of rows (0)`.
After recorded the SQL, I know the reason now,
The SQ

[2017-09-24 16:35] #365 closed

[2017-09-24 23:31] kkocabiyik commented on #350
Sorry for the late reply. The question was actually about adding fluent method something like .ForSqlServerIsMemoryOptimized() that is already added to EfCore.

[2017-09-25 00:16] IvanDerlich opened #366 "Add-Migrations: Values does not fall within expected range"
First time I post an issue. So please be patient and teach me if you can.
This a question I posted in Stack Overflow today.
I hope it helps you in the great job you do with this feature that helps us a lot in our jobs.

https://stackoverflow.com/questions/46394669/add-migrations-value-does-not-fall-within-expected-range

[2017-09-25 20:26] bricelam commented on #366
What version of Visual Studio and NuGet are you using? What are the results of executing the following in PMC?

[code]

[2017-09-25 20:52] ajcvickers commented on #357
@Daniel79WI We discussed this again and it seems to us that:
* An extension point in EF6 to allow customization of the proxies created is reasonable and we would consider a well-written community PR for this, but it is not something the EF team has plans to implement.
* Unsealing the proxies we create would require testing and changes to the code for places where we currently rely on proxies being

[2017-09-25 20:52] #357 closed

[2017-09-25 20:53] ajcvickers commented on #231
For 6.3, we will look at what it would take to allow the tools to not crash if other project types are present in the solution. (Note that this is different from allowing the projects to be used as a target for EF commands.)

[2017-09-25 23:40] ajcvickers opened #367 ".SQL files handles generated from Package Manager update-database are not closed properly when Close-Discard (not saved)"
Copied from VS Feedback:

using EF Package Manager Console to update an EF Database, using:

update-database -verbose -force -script

then close the generated xxxxx.SQL script (without saving), the system will prompt to confirm that you want to discard the changes in the file.

then try to close Visual Studio itself, it will prompt you again for saving the file !!

If you try to use SAVE ALL , you

[2017-09-25 23:44] ajcvickers opened #368 "Batch build is not embedding Entity Framework metadata in dll"
Copied from Developer Community

If I build the project manually, the metadata is embedded in the dll, but when i build all projects in all configurations throgh batch build the 3 metadata resources are not embedded.
The first file is the one created through batch build, the second file is the dll created when I recreate the build manually.

[2017-09-26 11:16] adrianhr91 commented on #257
Shouldn't this be marked as a bug? The PowerShell tools for applying migrations are behaving differently to the SQL script (that they generate as an alternative). Which you wouldn't realise until it's too late.

[2017-09-26 14:58] bdebaere opened #369 "Using MapKey in addition with property"
I am currently working on a business project with extremely little control over the database structure. The database has the following tables: Item, VendorItemItem. Item is a simple entity table and VendorItemItem is a table linking Item and VendorItem together.

These two tables link to eachother, but not by traditional means. The foreign key in VendorItemItem does not link to the primary key of

[2017-09-26 16:30] ajcvickers commented on #369
@bdebaere This is a limitation in EF6 that is, unfortunately, not ever likely to get removed. Sometimes it can be worked around by changing which property EF thinks is the PK--for example try mapping OtherId as the PK.

EF Core supports this kind of relationship, but may not be suitable for other reasons.

[2017-09-26 17:31] jayoungers commented on #271
Is the bulk of that 5% around the app.config piece?  If that was split out into a separate project how close would we be to standard v2?

[2017-09-27 06:54] bdebaere commented on #369
@ajcvickers Thank you for your response. I cannot use this OtherId as PK because other tables are linked with the Id unfortunately.
MapToStoredProcedures and Entity splitting (hopefully with optional relationships) is not yet supported in EF Core as far as I know so we cannot switch yet.

If there is no possible workaround, then I thank you for your time.

[2017-09-27 18:18] IvanDerlich commented on #366
The name of the solution is VIdlySol. The name of the project is Vidly.
How do I execute that command?

[2017-09-27 18:21] IvanDerlich commented on #366
This is the info I get from
Help -> About
in Visual Studio
---------------------------
Microsoft Visual Studio Professional 2015
Version 14.0.25420.01 Update 3
Microsoft .NET Framework
Version 4.7.02046

Installed Version: Professional

Microsoft Visual Studio Tools for Applications 2015   00322-40000-00000-AA253
Microsoft Visual Studio Tools for Applications 2015

Visual Basic 2015   00322-40000-

[2017-09-27 18:55] ajcvickers commented on #367
We discussed this in triage and we think that:
* It may be a Visual Studio issue, in which case the VS team may or may not choose to address it
* If it is an issue with something that is happening in EF tooling, then it's probably not high enough impact for us to fix it at this time. That being said, we would likely consider taking a community PR if somebody investigates the root cause and fix.

[2017-09-27 18:55] #367 closed

[2017-09-27 19:14] ajcvickers commented on #368
**EF Team Triage:** This issue is lacking enough information for us to be able to effectively triage it. In particular, it is missing the following information requested in the new issue template. Can you please provide this information?

Ideally include a complete code listing that we can run to reproduce the issue.
Alternatively, you can provide a project/solution that we can run.

BTW we're not

[2017-09-27 19:14] #369 closed

[2017-09-28 14:59] bricelam commented on #366
In the same place you type `Add-Migration`. NuGet's [Package Manager Console](https://docs.microsoft.com/en-us/nuget/tools/package-manager-console).

[2017-09-29 12:50] dmitry-pavlov commented on #115
In case you are reading this to get true `LIKE`, there is `LIKE` operator is added in `Entity Framework Core 2.0`:

    var query = from e in _context.Employees
                        where EF.Functions.Like(e.Title, "%developer%")
                        select e;

Comparing to `... where e.Title.Contains("developer") ...` it is really translated to `SQL` `LIKE` rather than `CHARINDEX` we see fo

[2017-09-29 16:05] divega commented on #115
@dmitry-pavlov FWIW, `DbFunctions.Like` was added as well in EF 6.2, thanks to a contribution from the community.

[2017-10-01 21:21] JohnyL opened #370 "EF doesn't recognize IDENTITY attribute with tinyint data type"
I'm using EF 6.2.0 Beta 1. Say, I have a simple entity:
[code]
The entity is:
[code]
When I try to create a new entry and save it
[code]
then I receive the following error:
[code]
EF issues the following SQL:
[code]

And here's the trick: as soon as I change the data type of Id column from **tinyint** to **smallint** and higher (and **byte** to **short** in class), then all is OK - the record is s

[2017-10-03 17:57] CZEMacLeod commented on #257
@adrianhr91 The PowerShell tools and the built in migrations commands execute each step separately on the same connection within a transaction (if memory serves). This is why they don't need to worry about GO statements etc.
You can also run these migrations using a command line tool (but I can't remember what it is called just now) which would be a good way of applying updates using higher privil

[2017-10-03 19:36] ajcvickers commented on #370
@JohnyL Have you tried explicitly configuring it to be an identity column? For example,

[code]

[2017-10-04 09:54] JohnyL commented on #370
**@ajcvickers** Yes, thanks, that worked! But I didn't expect DatabaseGeneratedOption.Identity to be set explicitly since EF treats primary fields to be IDENTITY.

[2017-10-04 10:24] adrianhr91 commented on #257
@CZEMacLeod My current development/release process is based on the assumption that running migrations through PowerShell and through a generated SQL script would produce the same result. So, for convenience, when developing locally I would usually use PowerShell to execute migrations and then generate a SQL script that is easier to run in an automated process. So by 'too late' I meant I wouldn't n

[2017-10-04 12:19] balticer opened #371 "SetClause value is empty when using EdmFunctions in Interceptor"
Hi,

i tried to implement a ModifiedInterceptor and want to use database based UTC-date, like GETUTCDATE() in T-SQL, but the generated SQL is empty. I tried to use EdmFunctions.CurrentUtcDateTime(). See code below. The output including the generated SQL is:

[code]
As you can see the function call is missing.

[code]
Bug?! Any Suggestions?

regards
Kai

[2017-10-04 16:29] ajcvickers commented on #370
EF6 makes int, short, long, properties Identity by convention, but not byte. I don't have a clear recollection of why this is, but I expect it is because byte is a very small key space.

[2017-10-04 16:29] #370 closed

[2017-10-04 17:49] CZEMacLeod commented on #257
@adrianhr91 Ah, I see. - PowerShell wraps the same calls that [migrate.exe](https://msdn.microsoft.com/en-us/library/jj618307(v=vs.113).aspx) does, which is basically the same as the [Automatically Upgrading on Application Startup (MigrateDatabaseToLatestVersion Initializer)](https://msdn.microsoft.com/en-us/library/jj591621(v=vs.113).aspx) process.
The bit that talks about SQL Scripts does say th

[2017-10-06 18:35] ajcvickers commented on #368
**EF Team Triage:** Closing this issue as the requested additional details have not been provided and we have been unable to reproduce it.

*BTW this is a canned response and may have info or details that do not directly apply to this particular issue. While we'd like to spend the time to uniquely address every incoming issue, we get a lot traffic on the EF projects and that is not practical. To e

[2017-10-06 18:35] #368 closed

[2017-10-10 01:35] divega opened #372 "New compile-time dependency added in Visual Studio 2017 15.3.x breaks current tools build"
We are hitting the issue described in https://developercommunity.visualstudio.com/content/problem/94821/vs-153-undocumented-breaking-changes.html

In summary, the we need a new dependency when building the designer with newer versions of VS 2017:

[code]

Without it you get:

Working on solving this by adding it to EFToolsVsReferences.settings.targets, conditional on VisualStudioVersion = 15.0. Th

[2017-10-11 17:09] sam-wheat opened #373 "How to specify initial size and growth factor when creating database?"
I use an initializer that derives from DropCreateDatabaseAlways.  Is it possible to specify the initial size and growth factor of the database when it is created?

Thanks

[2017-10-13 07:16] ravi-pathak opened #375 "SaveChanges takes a lot of time due to expensive looping in method MetadataHelper.GetAssociationsForEntitySet(EntitySetBase entitySetKey)"
This issue was discussed [earlier in 2012](https://social.msdn.microsoft.com/Forums/en-US/d642aa86-7a0e-4f84-9ed1-13e0b53f65a8/potential-performance-issue-in-systemdataobjectsentitystateentryacceptchanges?forum=adodotnetentityframework) on MSDN forums but it didn't go anywhere. We now have a genuine need to fix this problem as described here:

### Entity Model:
Order - root entity
OrderItem - 1-M

[2017-10-13 16:19] ajcvickers opened #376 "Unable to Add Entity framework model in Azure Function project"
When trying to add an edmx - database first, during the file creation i get an exception error, the following is the data logged

The project type is Azure Function, I have the latest AZ functions and web job tooling (15.0.30923.0)

on a side note i cannot get my app running live as it is uable to read the edmx info even after i try th manual connection string building method.

Recoverable
System.

[2017-10-13 20:38] ajcvickers commented on #372
Triage: We will continue to hack our way through deving (using VS 2013) and @bricelam will investigate getting a proper VS build done for 2017 using C.I. setup on unicorns420.

[2017-10-13 20:38] #372 closed

[2017-10-13 20:39] ajcvickers commented on #373
@sam-wheat There isn't any built-in way to do this. You could try implementing your own initializer based on DropCreateDatabaseAlways but with custom ADO.NET/SqlClient calls to do the actual database creation part.